@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.highlightSection {
  position: relative;
  margin-bottom: 1rem;
  .highlightSectionBackgroundImage {
    & > * {
      display: block !important;
      height: 100% !important;
    }
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      max-height: unset !important;
      min-height: unset !important;
      height: 100% !important;
    }
  }
  .backgroundFilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize($color: #000, $amount: 0.35);
  }
  .highlightSectionContent {
    position: relative;
    color: $color-white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      margin: 1rem 0 2rem 0;
    }
    span {
      padding: 0.75rem 3.5rem;
    }
  }
  // resets for large screen sizes
  @include desktop() {
    min-height: 23.4375rem;
  }
}
.archivesPageContent {
  .navigationMenu {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-areas:
      "side"
      "main"
      "main"
      "main"
      "pages";
    grid-gap: 1rem;
    @include desktop() {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "side main main main"
        "side main main main"
        "side main main main"
        "side main main main"
        "... pages pages pages";
      grid-gap: 2rem;
    }
    .filterPanel {
      grid-area: side;
      position: sticky;
      width: calc(100% + 2rem);
      transform: translateX(-1rem);
      padding: 0 1rem;
      top: -.25rem;
      z-index: 2;
      background-color: white;
      .contentTypeSelectWrapper {
        position: relative;
        margin-top: 0.5rem;
        > select {
          font-size: 1rem;
          -webkit-appearance: none;
        }
        &::after {
          content: "";
          position: absolute;
          right: 3%;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          width: 0.3rem;
          height: 0.3rem;
          border-color: $color-black;
          border-style: solid;
          border-width: 0 0.125rem 0.125rem 0;
          pointer-events: none;
        }
      }
      select, input {
        @include focus-visible-touch-outlines();
      }
      .mobileCategoryToggle {
        all: unset;
        @include focus-visible-touch-outlines();
        cursor: pointer;
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .chevron {
            height: 1rem;
            width: 1rem;
            margin-right: 1rem;
            border-color: $color-black;
            border-width: 0 .125rem .125rem 0;
            border-style: solid;
            transform: translate(.5rem, -.25rem) rotate(45deg);
            &.flipped {
              transform: translate(.5rem, .25rem) rotate(225deg);
            }
          }
          @include desktop() {
            pointer-events: none;
            .chevron {
              display: none;
            }
          }
        }
        legend {
          padding: 0;
          margin: 0;
        }
      }
      .desktopCategoryLegend {
        display: none;
      }
      .categoryCheckboxes {
        position: absolute;
        left: 0;
        padding: 0 0 .75rem 1rem;
        width: 100%;
        background-color: white;
        top: 100%;
        &.hidden {
          display: none;
        }
        @include desktop() {
          display: block !important;
          position: relative;
          left: auto;
          padding: 0;
          width: auto;
          background-color: unset;
        }
      }
      & > label,
      fieldset {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 1.25em;
        padding-left: unset;
        padding-right: unset;
        border: unset;
      }
      & > label {
        padding-top: 0;
      }
      & > fieldset {
        padding: .75rem 0;
        margin: 0;
        label {
          display: flex;
          align-items: center;
          &:hover {
            cursor: pointer;
            color: $color-darkblue;
          }
          input {
            margin-right: .5rem;
            position: relative;
          }
          input[type="radio"] {
            margin-block: unset;
            margin-left: unset;
            margin-right: 0.5rem;
          }
        }
        @include desktop() {
          &:not(:only-child) {
            margin-top: 1rem; 
          }
          &:only-child {
            padding: 0;
          }
        }
      }
      @include desktop() {
        position: relative;
        width: auto;
        transform: unset;
        padding: 0;
        box-shadow: unset;
        top: 0 !important;
        .mobileCategoryToggle {
          display: none;
        }
        .desktopCategoryLegend {
          display: block;
        }
      }
    }
    .filterPanel, .categoryCheckboxes {
      box-shadow: 0 .5rem 0.5rem -.5rem #0000005b;
      @include desktop() {
        box-shadow: unset;
      }
    }
    .contentList {
      grid-area: main;
      display: flex;
      justify-content: center;
      align-items: center;
      & > div {
        &:only-child {
          gap: 1rem;
          @include desktop() {
            gap: 2rem;
          }
        }
      }
    }
    .pagination {
      grid-area: pages;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .previousPageButton {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
          content: "";
          display: block;
          padding: 0.3rem;
          border-bottom: solid;
          border-left: solid;
          margin-left: 0.2rem;
          border-width: 0.1rem;
          border-color: $color-black;
          transform: rotate(45deg);
        }
        &:disabled {
          visibility: hidden;
        }
      }
      .nextPageButton {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
          content: "";
          display: block;
          padding: 0.3rem;
          border-right: solid;
          border-top: solid;
          margin-left: 0.2rem;
          border-width: 0.1rem;
          border-color: $color-black;
          transform: rotate(45deg);
        }
        &:disabled {
          visibility: hidden;
        }
      }
      .pageButton {
        padding: 0.5rem 1rem;
        &.selected {
          font-weight: 600;
          color: red;
        }
      }
    }
  }
}
