@import "../../../styles/settings/mixins";

.richTextArea {
  p {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
  }
  .fullContainerWidthContent {
    > * {
      @include siteWidth();
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content {
    > * {
      @include narrowWidth();
      margin-left: auto;
      margin-right: auto;
      img {
        max-width: 95vw;
      }
    }
  }

  .fullContainerWidthContent,
  .content {
    & > * {
      img {
        max-width: 50vw;
        height: unset;
        @include touch() {
          max-width: 70vw;
          display: block;
          float: unset;
          width: 100%;
          height: unset;
          margin: 0 auto;
        }
        @include mobile() {
          margin: unset;
          max-width: unset;
        }
      }
    }
  }
}
