@import "../../styles/settings/colors";
@import "../../styles/settings/mixins";

//These are used for Brand layout styling
.cardWrapper {
  height: 100%;
  @supports #{"\selector(*:focus-visible)"} {
    &:not(:focus-visible) {
      .card {
        outline: none !important;
      }
    }
    &:focus-visible {
      outline: none !important;
      .card {
        @include outline();
      }
    }
  }
  @supports #{"\not selector(*:focus-visible)"} {
    &:focus {
      outline: none !important;
      .card {
        @include outline();
      }
    }
  }
  @media (any-pointer: coarse) {
    &:hover {
      outline: none !important;
      .card {
        @include outline();
      }
    }
  }
  .card {
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    .imageWrapper {
      transition: padding 0.3s;
      flex-grow: 1;
      flex: 0 0 22.5rem;
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      $image-wrapper-height: 10.625rem;
      & > img {
        justify-self: center;
        align-self: center;
      }
      @include desktop() {
        flex: 0 0 auto;
      }
      &.colorCardImageWrapper {
        flex: 0 0 10rem;
      }
      &:not(.colorCardImageWrapper) {
        &.smallerSize {
          padding: 2rem;
          flex: 0 0 14rem;
          @include desktop() {
            margin-bottom: 0;
            &:hover {
              padding: 1.5rem;
            }
          }
        }
        &.normalSize {
          padding: 2.5rem;
          @include desktop() {
            margin-bottom: 0;
            flex: 0 0 24.75rem;
            &:hover {
              padding: 1.75rem;
            }
          }
        }
      }
    }

    .textContent {
      margin-top: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 1rem 1.5rem 1.5rem 1.5rem;
      &:not(.imageCardTextContent) {
        height: 100%;
      }
      .title {
        font-size: 1rem;
        font-weight: 600;
        &:not(:only-child) {
          flex-basis: 60%;
        }
      }
      .titleWithIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 0.75rem;
        .title {
          text-align: center;
          font-size: 1.5rem;
        }
        .iconWrapper {
          height: 100%;
          flex-grow: 1;
          flex-basis: 40%;
        }
        @include desktop() {
          padding-top: 1.5rem;
        }
      }
    }
    .linkText {
      padding-top: 0;
      margin-top: -0.5rem;
      font-size: 1.2rem;
      font-weight: 700;
      color: $color-navy;
      align-self: center;
      transition: opacity 0.3s;
      &:hover {
        text-decoration: underline;
        opacity: 0.7;
      }
    }
    margin-top: auto;
    span {
      position: relative;
      display: flex;
      align-items: center;
      display: flex;
    }
  }
}
