@import "../../styles/settings/__settings";
.modal {
  box-shadow: shadow();
  border-radius: toRem(8);
  background-color: $color-white;
  padding: toRem(33) toRem(25);
  text-align: center;
  width: 90%;
  z-index: 10;
  position: fixed;
  top: toRem(20);
  left: calc(50% - 45%);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
  @include shadow();
  @include desktop() {
    top: 20vh;
    width: 60%;
    left: calc(50% - 30%);
    overflow-y: hidden;
    overflow-x: hidden;
    height: auto;
    &.narrow {
      width: 66%;
      left: calc(50% - 33%);
    }
  }
  @include largeDesktop() {
    &.narrow {
      width: 56%;
      left: calc(50% - 28%);
    }
  }
  @include tablet() {
    &.narrow {
      height: auto;
    }
  }
}

.backdrop {
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.row {
  width: 100%;
  @include desktop() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .inner {
      height: 100%;
    }
  }
}
.algin-center {
  .col {
    align-items: center;
    justify-content: center;
  }
  .row {
    justify-content: center;
  }
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $size-10px 0;
  width: 100%;
  @include desktop() {
    padding: $size-8px;
  }
  &.col-3 {
    flex: 0 0 auto;
    @include desktop() {
      width: 33.3333333333%;
    }
  }
}

.section-title {
  font-weight: 600;
  font-size: $size-20px;
  margin-bottom: toRem(20);
}

.w-500px {
  max-width: toRem(500);
  margin: 0 auto;
  line-height: 1.5em;
  padding-left: toRem(30);
  text-align: left;
}
.close {
  width: toRem(40);
  height: toRem(40);
  top: 0;
  right: 0;
  font-size: toRem(40);
  position: absolute;
  z-index: 9999;
  margin: 0;
  padding: 0;
  line-height: 1;
  background: 0 0;
  border: 0;
  box-sizing: content-box;
  color: $color-gray;
  cursor: pointer;
  overflow: visible;
  vertical-align: inherit;
}
.visuallyhidden {
  height: toRem(1);
  width: toRem(1);
  overflow: hidden;
  clip: rect(toRem(1), toRem(1), toRem(1), toRem(1));
  position: absolute;
}
.close::after {
  content: "x";
  padding-left: 0px;
  top: 0.1em;
  left: 0;
  position: absolute;
  top: -0.025em;
  right: 0.2em;
  padding: 0px;
}
