@import "../../../styles/settings/colors";
@import "../../../styles/settings/mixins";

.columns {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
  @include desktop() {
    grid-template-columns: 50% 50%;
  }
}

.content {
  img {
    max-width: 100%;
  }
}

.form {
  background: $color-paleblue;
  padding: 1.875rem 2.375rem;
  height: min-content;
  border-radius: 1rem;
  .bg-lightblue {
    background: $color-paleblue !important;
  }
  form {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr;
    div:last-of-type {
      grid-column: 1 / -1;
    }
    @include desktop() {
      grid-template-columns: 1fr 1fr;
    }
  }
  .formTitle {
    color: $color-black;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}

.alternateFormTitle {
  margin-bottom: 3rem;
}

.alternateHeader {
  .alternateHeaderContainer {
    position: relative;
    min-height: 28.75rem;
    display: flex;
    @include desktop() {
      align-items: center;
    }
  }
  .alternateHeaderTitle {
    z-index: 1;
    padding: 4rem 3rem 0 3rem;
    @include desktop() {
      padding: 1rem;
      & > * {
        max-width: 50%;
      }
    }
  }
  .alternateHeaderColumns {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    @include desktop() {
      grid-template-columns: repeat(2, 1fr);
    }

    .sideColumn {
      min-height: 17.5rem;
      background: $color-navy;
      @include desktop() {
        min-height: 25rem;
      }
    }

    .imageColumn {
      min-height: 25rem;
      div {
        height: 100%;
        width: 100%;
      }
    }
  }

  .category {
    color: $color-white;
  }

  .title {
    font-weight: 200;
    color: $color-white;
    padding-right: 1rem;
  }

  .hr {
    background: $color-skyblue;
    display: inline-block;
    width: 4rem;
    height: 0.1rem;
    margin: 1.5rem 0;
  }
}

.alternateContent {
  @include shadow();
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  @include desktop() {
    margin: auto;
    top: -8rem;
    padding: 4rem;
  }
  form {
    input,
    select {
      border: 0.0625rem solid $color-skyblue !important;
      background-color: $color-white;
      &::placeholder {
        color: $color-gray !important;
      }
    }
  }
}

.alternateLink {
  text-align: center;
}
