@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.jobOpeningList {
  select {
    width: auto;
  }
  select,
  input {
    @include focus-visible-touch-outlines();
  }
  .jobOpenings {
    width: 100%;
    .headerContentWrapper {
      display: flex;
      justify-content: space-between;
      button {
        cursor: pointer;
        user-select: none;
        &[aria-disabled="true"] {
          cursor: not-allowed;
          border-style: outset;
          opacity: 0.5;
        }
      }
    }
    .jobOpening {
      td {
        width: 33.33%;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
}
