@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.jobOpeningList {
  select {
    width: auto;
  }
  select, input, .jobOpenings th {
    @include focus-visible-touch-outlines();
  }
  .jobOpenings {
    width: 100%;
    th {
      cursor: pointer;
      user-select: none;
    }
    .jobOpening {
      td {
        width: 50%;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
}
