@import "../../styles/settings/mixins";
@import "../../styles/settings/colors";

.safariDisclaimer {
    background-color: transparentize($color: $color-red, $amount: 0.25);
    color: $color-white;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    .message {
        margin: 1rem 0;
        white-space: pre-line;
    }
    .link {
        font-size: 1.2rem;
        font-weight: 600;
    }
}