@use "sass:math";
@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";
@import "../../../styles/settings/variables";

.navbar {
  background: white;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0.5rem 0px #00000014;
  height: $navbar-height;
  font-size: 1rem;
  padding-top: 2rem;
  width: 100%;
  z-index: 4;
  position: sticky;
  top: 0;
  .navbarSecondary {
    display: none;
    @include desktop() {
      display: flex;
    }
  }
  &.scrolled {
    box-shadow: 0 0 0.5rem 0 #0000005b;
    height: $navbar-height;
    .navbarSecondary {
      display: none;
    }
  }

  &.transparent {
    background: transparent;
    box-shadow: unset;
    nav {
      background: transparent;
    }
  }
  &.mobileNavActive {
    z-index: 5;
  }
  @include desktop() {
    height: $navbar-height-tall;
    /* display: flex; */
    position: sticky;
    top: 0;
  }

  nav {
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoContainer {
      width: 30%;
      .logo {
        top: 0.4rem;
        left: 2rem;
        width: 7.5rem;
        @include desktop {
          width: 11rem;
          top: 0.3rem;
        }
        position: relative;
      }
    }

    .buttonContainer {
      width: 30%;
      display: flex;
      @include desktop {
        justify-content: flex-end;
      }
      a {
        display: flex;
        align-items: center;
        background: #ff4e33;
        color: white;
        transition-property: background-color, color !important;
        font-size: 0.9rem;
        padding: 0 0.75rem;
        min-height: 2.5rem;
        font-weight: 700;
        font-family: "DM Sans", sans-serif;
        -webkit-border-radius: 0.35rem;
        border-radius: 0.35rem;
        -webkit-transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
        -o-transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
        transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
        &:hover {
          background: #000843;
        }
      }
    }
    .mainNavigationContainer {
      display: flex;
      z-index: 1;
      //Mobile specific styling
      transition: background-color 0.4s;
      position: absolute;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      //Mobile styling end
      font-weight: 500;
      font-size: 1.1rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      @include desktop {
        position: relative;
        flex-direction: row;
        height: initial;
        align-items: center;
        justify-content: center;
        ul {
          &:hover li:not(:hover) {
            opacity: 0.5;
          }
        }
      }
      .mainNavigation {
          li {
            list-style: none;
            height: 100%;
           
            text-align: center;
            transition: opacity 0.5s;
            a {
              @include desktop {
                display:block;
                padding:0 2rem;
              }
            }
          }
        padding: 5rem 0 60vh 1rem;
        display: flex;
        background: white;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        width: 90%;
        height: 100%;
        @include desktop {
          width: 70%;
          flex-direction: row;
          justify-content: space-evenly;
          background:transparent;
          padding: 0;
        }
        .copyright {
          font-size: 1rem;
          font-weight: 400;
          width: 50%;
          @include desktop {
            position: absolute;
            left: -2147483647px;
          }
        }
      }
    }
  }
}

.brand {
  width: 50%;
  @include desktop() {
    width: initial;
  }
}

.navbarToggle {
  z-index: 5 !important;
  all: unset;
  position: absolute;
  left: 1rem;
  padding: inherit;
  cursor: pointer;
  padding: 1rem;
  top: 3.2rem;
  @include desktop {
    top: 3.5rem;
  }
  span {
    position: absolute;
    content: "";
    background: $color-navy;
    height: 0.1rem;
    width: 75%;
    left: 0;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 0.5rem;
      width: 60%;
    }
    &:nth-child(3) {
      top: 1rem;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        transform: translateY(0.5rem) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-0.5rem) rotate(-45deg);
      }
    }
  }

  // Don't display mobile menu toggle on desktop, doesn't affect accessibility
  @include desktop {
    display: none;
  }
}

// Mobile toggle menu states
.mainNavigationContainerActive {
  transition: left 0.4s;
  position: relative;
  left: 0;
  top: 0rem;
  background: rgba(0, 0, 0, 0.7);
  @include desktop() {
    position: initial;
    padding-top: initial;
    background: transparent;
  }
}
.mainNavigationContainerHidden {
  // Safari needs this
  height: 0;
  left: -2147483647px;
  padding: 0;
  position: absolute;
  @include desktop() {
    height: initial;
    left: unset;
    padding: initial;
    position: initial;
  }
}
