@use "sass:math";
@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";
@import "../../../styles/settings/variables";

.navbar {
  background: white;
  height: $navbar-height;
  font-size: 1rem;
  padding-top: 1rem;
  width: 100%;
  z-index: 4;
  position: sticky;
  top: 0;
  &.mobileNavActive {
    z-index: 5;
  }
  @include desktop() {
    height: $navbar-height + 0.5rem;
    /* display: flex; */
    position: sticky;
    top: 0;
  }
}