@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.textWithForm {
  // default layout
  .content {
    display: flex;
    flex-direction: column;
    & > * {
      flex-basis: 100%;
    }
    .textContent {
      padding: 0 1rem;
      .testimonials {
        margin-top: 2rem;

        .testimonial {
          .testimonialRating {
            display: flex;
            margin: 1.5rem 0 1rem 0;
            img {
              margin: 0 0.25rem;
            }
          }
          p {
            margin-top: 1rem;
            font-size: 1rem;
            white-space: pre-line;
          }
          small {
            font-size: 0.85rem;
          }
        }
      }

      .awardImages {
        margin-top: 1.5rem;
        .awardImage {
          padding: unset;
          margin: 0 0.25rem;
          max-width: 5.625rem;
          img {
            margin: unset;
          }
        }
      }
    }
    .form {
      margin-top: 1rem;
      & > * {
        max-width: 26.25rem;
        margin: 0 auto;
        input,
        select {
          background-color: $color-lightgray;
          padding: 0.75rem 1rem;
          margin: 0.25rem 0;
          box-sizing: border-box;
          border: unset;
        }
      }
    }
    @include desktop() {
      flex-direction: row;
    }
  }
  // column layout
  .columnLayoutContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    & > * {
      flex-basis: 100%;
    }
    .textContent {
      padding: 0 1rem;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 1rem;
      }
      .testimonial {
        .testimonialRating {
          display: flex;
          margin: 1.5rem 0 1rem 0;
          img {
            margin: 0 0.25rem;
          }
        }
        p {
          font-size: 1rem;
          white-space: pre-line;
        }
        small {
          font-size: 0.85rem;
        }
      }
      .awardImages {
        margin-top: 1.5rem;
        .awardImage {
          padding: unset;
          margin: 0 0.25rem;
          max-width: 5.625rem;
          img {
            margin: unset;
          }
        }
      }
    }
    // !important is used here to override some form styles because this layout has unique styles for it.
    .form {
      margin-top: 1rem;
      & > * {
        margin: 0 auto;
        max-width: 100vw;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        position: relative;
        @include desktop() {
          grid-template-columns: repeat(2, 1fr);
        }
        & > div {
          max-width: unset !important;
          padding: 0 0.5rem !important;
          width: 100%;
          input,
          select {
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.25rem;
            border-radius: 0.5rem !important;
          }
          &:last-of-type {
            min-height: 6.25rem;
            position: unset !important;
            span {
              position: absolute;
              left: 50%;
              width: 100%;
              transform: translateX(-50%);
              button {
                background-color: $color-orange !important;
                border: unset;
                font-weight: 600 !important;
              }
            }
          }
        }
        input,
        select {
          background-color: $color-white !important;
          padding: 0.75rem 1rem;
          margin: 0.25rem 0;
          box-sizing: border-box;
          border: 0.1rem solid $color-black !important;
        }
      }
    }
  }
  @include desktop() {
    .content {
      padding-top: 3rem;
    }
  }
}
