@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.textWithForm {
  .content {
    display: flex;
    flex-direction: column;
    & > * {
      flex-basis: 100%;
    }
    .form {
      margin-top: 1rem;
      & > * {
        max-width: 420px;
        margin: 0 auto;
        input,
        select {
          background-color: $color-lightgray;
          padding: 0.75rem 1rem;
          margin: 0.25rem 0;
          box-sizing: border-box;
          border: unset;
        }
      }
    }
  }
  @include desktop() {
    .content {
      padding-top: 3rem;
      flex-direction: row;
      .form {
        margin-top: unset;
      }
    }
  }
}
