@import "../../../styles/settings/mixins";
@import "../../../styles/settings/variables";
@import "../../../styles/settings/colors";
@import "../../../styles/settings/fonts";

.pardotForm {
  label {
    display: block;
    padding: unset;
    text-align: left;
    & > span {
      &:first-child {
        display: block;
        padding: 0.5rem 0;
        margin-bottom: 0.25rem;
      }
    }
  }
  input,
  select {
    @include focus-visible-touch-outlines();
  }
  input[type="submit"] {
    cursor: pointer;
  }
}

.required {
  color: $color-red;
  padding-right: toRem(5);
}
.booleancheckbox {
  cursor: pointer;
  label {
    display: inline-flex;
    align-items: flex-start;
    font-size: $size-16px;
    line-height: toRem(20);
    min-height: toRem(40);
    padding: 0;
    cursor: pointer;
  }
  input {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0, 0, 0, 0);
    font-size: $size-16px;
    appearance: none;
    background-color: $color-lightgray;
    color: #33475b;
    line-height: 1.375;
    border: toRem(1) solid;
    border-color: $color-darkgray;
    border-radius: toRem(3);
    width: 100%;
    min-height: toRem(32);
    padding: toRem(9) toRem(10);
    &:focus {
      & ~ span {
        &::before {
          @include outline();
          //box-shadow: 0 0 0 toRem(4) rgba(0, 125, 250, 0.6);
        }
      }
    }
  }
  .check {
    &:hover:before {
      background-color: $color-lightgray;
    }
    &:before {
      left: 0;
      border: toRem(2) solid $color-darkgray;
      width: toRem(16);
      height: toRem(16);
      border-radius: toRem(1);
    }
    &:before,
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: toRem(3);
    }
    display: block;
    position: relative;
    padding: toRem(2) 0 toRem(2) toRem(27);
  }
}

.form-select {
  cursor: pointer;
  background-image: url(../../../shop/components/icons/svgs/down-arrow.svg);
  background-position: right 1em center;
  background-repeat: no-repeat;
  background-size: 0.75 rem;
  padding-right: toRem(32);
  font-size: toRem(16);
  -webkit-appearance: none;
  appearance: none;
  color: #33475b;
  line-height: 1.375;
  border: toRem(1) solid;
  border-color: $color-darkgray;
  border-radius: toRem(3);
  width: 100%;
  height: 3rem;
  min-height: toRem(32);
  padding: toRem(9) toRem(10);
  transition: all 0.15s ease-out;
  &:focus {
    //outline: 0;
    @include outline();
    @include shadow();
  }
}

.error {
  input {
    border: toRem(2) solid $color-red !important;
    background-color: $color-lightred !important;
    height: 3rem;
    padding: 1.25rem 0.9375rem;
    &:focus {
      @include outline();
      outline-color: $color-red !important;
      //outline: toRem(1) solid $color-red !important;
    }
  }
  select {
    border: toRem(2) solid $color-red !important;
    background-color: $color-lightred !important;
    height: 3rem;
    &:focus {
      @include outline();
      outline-color: $color-red !important;
      //outline: toRem(1) solid $color-red !important;
    }
  }
  .booleancheckbox {
    .check {
      &:before {
        border-color: $color-red;
      }
    }
  }
}
.valid {
  input,
  select {
    border: toRem(2) solid $color-green !important;
    background-color: $color-lightgreen !important;
    &:focus {
      @include outline();
      outline-color: $color-green !important;
      //outline: toRem(1) solid $color-red !important;
    }
  }
  .booleancheckbox {
    .check {
      &:before {
        border-color: $color-green;
      }
    }
  }
}

.visuallyhidden {
  position: absolute;
  clip: rect(toRem(1), toRem(1), toRem(1), toRem(1));
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: toRem(1);
  width: toRem(1);
  padding: 0;
  border: 0;
}
.form-message-wrapper {
  color: $color-red;
  font-style: normal;
  font-weight: 600;
  font-size: toRem(15);
  line-height: 1;
  text-decoration: none;
  position: relative;
  margin-top: toRem(10);
  z-index: 1;
  display: flex;
  &::before {
    content: "";
    font-family: "SF Pro Icons";
    background-size: contain;
    width: toRem(17);
    height: toRem(17);
    padding-right: toRem(7);
    background: url(../../../shop/components/icons/svgs/icon-error-info.svg)
      no-repeat left bottom;
    overflow: hidden;
  }
}

.removehoney {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.hideFormField {
  display: none;
}
.submitButton {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
}
