@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";
@import "../../../styles/settings/variables";

.searchPageContent {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-areas:
    "side"
    "main"
    "main"
    "main"
    "pages";
  grid-gap: 1rem;
  @include desktop() {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "side main main main"
      "side main main main"
      "side main main main"
      "side main main main"
      "... pages pages pages";
    grid-gap: 2rem;
  }
  .filterPanel {
    grid-area: side;
    & > label,
    fieldset {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      font-size: 1.25em;
      padding-left: unset;
      padding-right: unset;
      border: unset;
      select {
        margin-top: 0.5rem;
      }
    }
    & > label {
      padding-top: 0;
    }
    & > fieldset {
      legend {
        margin-bottom: 1rem;
      }
      label {
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
          color: $color-darkblue;
        }
        input[type="radio"] {
          margin-block: unset;
          margin-left: unset;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .contentList {
    grid-area: main;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(5, 1fr);
    & > div {
      border: 0.0625rem solid $color-gray;
      border-radius: 1rem;
      @include desktop() {
        max-height: 12rem;
      }
      a {
        padding: 0.75rem 1.25rem;
        display: block;
        border-radius: 1rem;
        height: 100%;
        transition: background-color 0.25s ease-in-out;
        p {
          margin-top: unset;
        }
        .resultTitle {
          color: $color-darkblue;
        }
        &:hover {
          background-color: $color-lightgray;
        }
      }
    }
  }
  .pagination {
    grid-area: pages;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .previousPageButton {
      position: relative;
      display: flex;
      align-items: center;
      &::after {
        content: "";
        display: block;
        padding: 0.3rem;
        border-bottom: solid;
        border-left: solid;
        margin-left: 0.2rem;
        border-width: 0.1rem;
        border-color: $color-black;
        transform: rotate(45deg);
      }
      &:disabled {
        visibility: hidden;
      }
    }
    .nextPageButton {
      position: relative;
      display: flex;
      align-items: center;
      &::after {
        content: "";
        display: block;
        padding: 0.3rem;
        border-right: solid;
        border-top: solid;
        margin-left: 0.2rem;
        border-width: 0.1rem;
        border-color: $color-black;
        transform: rotate(45deg);
      }
      &:disabled {
        visibility: hidden;
      }
    }
    .pageButton {
      padding: 0.5rem 1rem;
      &.selected {
        font-weight: 600;
        color: red;
      }
    }
  }
}
