@import "../../styles/settings/colors";

.formLoader {
  width: 100%;
  div {
    width: 100%;
    min-height: 2.6875rem;
    padding: 0.75rem 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: unset;
    border-radius: 0.2rem;
    background-image: linear-gradient(
      65deg,
      $color-lightgray 0%,
      $color-mediumgray 50%,
      $color-lightgray 100%
    );
    background-size: 600%;
    animation: bg-animation 1.5s infinite;
    &:last-child {
      margin-top: 2rem;
      border-radius: 3rem;
      max-width: 200px;
      min-height: 3.3125rem;
    }
  }

  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }
}
