@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.textGridWithMedia {
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem 0;
    margin: 3rem auto 1rem auto;
    text-align: center;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1rem;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .grid {
      $smaller-gap: 1rem;
      $larger-gap: 2rem;
      gap: $smaller-gap;
      &.hasLargerGap {
        gap: $larger-gap;
      }
      .gridItem {
        min-width: 0;
        min-height: max-content;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
      }
      @include tablet {
        .gridItem {
          &.is-1 {
            flex-basis: 100%;
          }
          &.is-2 {
            flex-basis: calc(50% - calc((1 / 2) * $smaller-gap));
          }
          &.is-3 {
            flex-basis: calc(33.3333% - calc((2 / 3) * $smaller-gap));
          }
          &.is-4 {
            flex-basis: calc(25% - calc((3 / 4) * $smaller-gap));
          }
        }
        &.hasLargerGap {
          .gridItem {
            &.is-1 {
              flex-basis: 100%;
            }
            &.is-2 {
              flex-basis: calc(50% - calc((1 / 2) * $larger-gap));
            }
            &.is-3 {
              flex-basis: calc(33.3333% - calc((2 / 3) * $larger-gap));
            }
            &.is-4 {
              flex-basis: calc(25% - calc((3 / 4) * $larger-gap));
            }
          }
        }
      }
      p {
        padding-bottom: 1rem;
        &:last-child {
          padding-bottom: 0;
        }
      }
      span.rightArrow {
        font-weight: 600;
        color: $color-darkblue;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        &:after {
          content: ">";
          margin-left: 0.5rem;
          font-size: 1rem;
          display: inline-block;
        }
      }
      .textItem,
      .textItemFlex {
        padding: 1.5rem;
      }
    }

    .mediaContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      &.svgMediaContainer {
        > span {
          height: 100%;
          img {
            height: 100% !important;
            position: relative !important;
          }
        }
      }
    }
  }
  .textItem {
    .textItemMedia {
      max-width: 7.5rem;
      min-height: 4.5rem;
      padding-bottom: 1rem;
      &.textItemMediaTall {
        height: 14rem;
        & > span {
          height: 100% !important;
        }
      }
      &.textItemMediaSmall {
        max-width: 5.625rem;
        max-height: 5.625rem;
        & > span {
          &:only-child {
            min-width: 5.625rem;
            min-height: 5.625rem;
          }
        }
      }
      & > span {
        // Some versions of Safari need this to prevent oversized images
        height: 0 !important;
        &:only-child {
          min-width: 7.5rem;
          min-height: 7.5rem;
          img {
            width: 100% !important;
            object-fit: contain;
            height: unset !important;
            min-height: unset !important;
          }
        }
      }
    }
  }
  .textItemFlex {
    .textItemMedia {
      max-width: 7.5rem;
      &.textItemMediaSmall {
        flex-shrink: 0;
        max-width: 5.625rem;
        > span {
          span {
            // Some versions of Safari need this to prevent oversized images
            height: 0 !important;
          }
        }
      }
      img {
        height: unset !important;
        position: unset !important;
      }
    }
    @include desktop() {
      display: flex;
      .textItemMedia {
        min-width: 7.5rem;
        margin-right: 2.5rem;
        img {
          height: auto !important;
          min-height: auto !important;
        }
      }
    }
  }
  .textItemHeading {
    margin-bottom: 0.625rem;
  }
}
.textItemContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.logoLeftHeaderRight {
  .content {
    line-height: 1.3rem;
    align-items: stretch;
    .grid {
      margin-top: 0 !important;
      gap: 0;
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: 25.5rem) {
        grid-template-columns: 1fr 1fr;
      }
      @include desktop() {
        display: flex;
        gap: 0.7rem;
      }
    }
  }
  align-items: center;
  &.textItemFlex {
    display: flex;
    @include desktop() {
      height: 100%;
      padding: 1.5rem 0 !important;
    }
    > * {
      justify-content: flex-start;
    }
  }
  .textItemHeading {
    width: 100%;
  }
  .textItemMedia {
    width: 2rem !important;
    min-width: auto !important;
    margin-right: 0.8rem !important;
    & > * {
      font-size: 1rem;
    }
  }
  .textItemHeading > * {
    font-size: 1rem;
  }
}
.imageFullWidth {
  .textItem {
    flex: auto;
  }
}
.imageFullWidth {
  &.textItem {
    overflow: hidden;
    padding: 0 0 1.5rem 0 !important;
    .textItemMedia {
      max-width: 100%;
      // height: 12.5rem;
      & > span:only-child img {
        object-fit: cover;
        min-height: 100% !important;
      }
    }
    .content,
    span.rightArrow {
      padding: 0 1.5rem;
    }
  }
}

.justifyContentCenterHorizontally {
  justify-content: center !important;
}

.textItemFullHeight {
  height: 100%;
  display: inline-block;
}