@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.textGridWithMedia {
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem 0;
    margin: 3rem auto 1rem auto;
    text-align: center;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1rem;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .grid {
      gap: 2rem;
      p {
        padding-bottom: 1rem;
        &:last-child {
          padding-bottom: 0;
        }
      }
      span.rightArrow {
        font-weight: 600;
        color: $color-darkblue;
        margin-bottom: 1rem;
        &:after {
          content: ">";
          margin-left: 0.5rem;
          font-size: 1rem;
          display: inline-block;
        }
      }
      .textItem,
      .textItemFlex {
        padding: 1.5rem;
      }
    }

    .mediaContainer {
      width: 100%;
    }
  }
  .textItem {
    min-width: 14.0625rem;
    .textItemMedia {
      max-width: 7.5rem;
      min-height: 4.5rem;
      padding-bottom: 1rem;
      &.textItemMediaSmall {
        max-width: 5.625rem;
        max-height: 5.625rem;
        & > span {
          &:only-child {
            min-width: 5.625rem;
            min-height: 5.625rem;
          }
        }
      }
      & > span {
        &:only-child {
          min-width: 7.5rem;
          min-height: 7.5rem;
          img {
            width: 100% !important;
            object-fit: contain;
            height: unset !important;
            min-height: unset !important;
          }
        }
      }
    }
  }
  .textItemFlex {
    .textItemMedia {
      max-width: 7.5rem;
      &.textItemMediaSmall {
        max-width: 5.625rem;
      }
      img {
        height: unset !important;
        position: unset !important;
      }
    }
    @include desktop() {
      display: flex;
      .textItemMedia {
        min-width: 7.5rem;
        margin-right: 2.5rem;
        img {
          height: auto !important;
          min-height: auto !important;
        }
      }
    }
  }
  .textItemHeading {
    margin-bottom: 0.625rem;
  }
}
.logoLeftHeaderRight {
  .content {
    line-height: 1.3rem;
    .grid {
      gap: 0;
      display: block;
      @include desktop() {
        display: flex;
        gap: 1rem;
      }
    }
  }
  align-items: center;
  &.textItemFlex {
    display: flex;
    @include desktop() {
      height: 100%;
      padding: 1.5rem 0 !important;
    }
    > * {
      justify-content: flex-start;
    }
  }
  .textItemHeading {
    width: 100%;
  }
  .textItemMedia {
    width: 2rem !important;
    min-width: auto !important;
    margin-right: 0.8rem !important;
    & > * {
      font-size: 1rem;
    }
  }
  .textItemHeading > * {
    font-size: 1rem;
  }
}
.imageFullWidth {
  &.textItem {
    overflow: hidden;
    padding: 0 0 1.5rem 0 !important;
    .textItemMedia {
      max-width: 100%;
    }
    .content,
    span.rightArrow {
      padding: 0 1.5rem;
    }
  }
}

@include tablet {
  .is-2 {
    flex: 0 0 calc(50% - 0.5rem);
  }
  .is-3 {
    flex: 0 0 calc(33.3333% - 0.5rem);
  }
  .is-4 {
    flex: 0 0 calc(25% - 0.5rem);
  }
  .is-5 {
    flex: 0 0 calc(20% - 0.5rem);
  }
  .is-7 {
    flex: 0 0 calc(14.2857% - 0.5rem);
  }
  .is-2-larger-gap {
    flex: 0 0 calc(50% - 2rem);
  }
  .is-3-larger-gap {
    flex: 0 0 calc(33.3333% - 2rem);
  }
  .is-4-larger-gap {
    flex: 0 0 calc(25% - 2rem);
  }
  .is-5-larger-gap {
    flex: 0 0 calc(20% - 2rem);
  }
  .is-7-larger-gap {
    flex: 0 0 calc(14.2857% - 2rem);
  }
}
