@import "../../../styles/settings/mixins";

.textGridWithMedia {
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem 0;
    margin: 3rem 0 1rem 0;
    text-align: center;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1rem;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mediaContainer {
      width: 100%;
    }
  }
  .textItem {
    padding: 2rem 1.5rem 0 1.5rem;
    margin: 0 0.25rem;
    min-width: 225px;
    .textItemMedia {
      max-width: 120px;
      min-height: 120px;
      &.textItemMediaSmall {
        max-width: 90px;
        max-height: 90px;
        & > div {
          &:only-child {
            min-width: 90px;
            min-height: 90px;
          }
        }
      }
      & > div {
        &:only-child {
          min-width: 120px;
          min-height: 120px;
          img {
            width: 100% !important;
            object-fit: contain;
            height: unset !important;
            min-height: unset !important;
          }
        }
      }
    }
  }
  .horizontallyCenteredTextItem {
    margin: 0.25rem;
  }
  .textItemFlex {
    padding: 2rem 2rem 0 2rem;
    .textItemMedia {
      max-width: 120px;
      &.textItemMediaSmall {
        max-width: 90px;
      }
      img {
        height: unset !important;
        position: unset !important;
      }
    }
    @include desktop() {
      display: flex;
      .textItemMedia {
        min-width: 120px;
        margin-right: 2.5rem;
      }
    }
  }
  .textItemHtml {
    padding-bottom: 2rem;
  }
  .textItemHeading {
    margin-bottom: 1.5rem;
  }
}
