@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.contentList {
  .heading {
    padding: 2rem 0;
    text-align: center;
  }
  .items {
<<<<<<< HEAD
    display: grid;
    gap: 2rem;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
=======
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
>>>>>>> 31c7860147e06e2d9009db44e2bb11449e78bca2
    .contentItem {
      width: 90vw;
      min-width: unset;
      max-width: 25rem;
      > * {
        max-width: calc(33% - 1.875rem);
      }
    }
    @include desktop() {
      display: grid;
      gap: 2rem;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      .contentItem {
        width: initial;
        > * {
          max-width: calc(33% - 1.875rem);
        }
      }
    }
  }
}
