@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.contentList {
  .heading {
    padding: 2rem 0;
    text-align: center;
  }
  .items {
    display: grid;
    gap: 2rem;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    .contentItem {
      > * {
        max-width: calc(33% - 1.875rem);
      }
    }
    @include touch() {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .contentItem {
        width: calc(33% - 1.875rem);
        min-width: 21.25rem;
      }
    }
    @include mobile() {
      .contentItem {
        width: 90vw;
        min-width: unset;
      }
    }
  }
}
