@import "./settings/__settings";

.number {
  width: toRem(24);
  height: toRem(24);
  font-size: $size-18px !important;
  line-height: toRem(24);
  color: $color-black;
  font-weight: 600;
  border-radius: 50%;
  background-color: $color-paleblue;
  display: block;
}

.steps {
  display: flex;
  text-align: left;
  & > .number {
    width: toRem(24);
    height: toRem(24);
    background: $color-paleblue;
    margin-right: toRem(15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .wrapper {
    display: inline-block;
    width: 100%;
  }
  & .pt-5px {
    padding-top: toRem(5);
  }
  & .number-input {
    border: toRem(2) solid $color-darkmedium;
    padding: toRem(10);
    border-radius: toRem(4);
    width: toRem(90);
  }
}
.text-regular {
  font-size: toRem(14) !important;
  font-weight: 400;
}
.mb-20px {
  margin-bottom: toRem(20);
}
