@import "./settings/__settings";

.main {
  padding-top: calc(toRem(30) + var(--primary-nav-height));
}
.grid {
  display: flex;
  @include desktop() {
    width: 100%;
    flex-direction: column;
    justify-content: stretch;
  }
  .row {
    width: 100%;
    @include desktop() {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .inner {
        height: 100%;
      }

      &.flex-start {
        align-items: flex-start;
      }
    }
  }
  .algin-center {
    .col {
      align-items: center;
      justify-content: center;
    }
    .row {
      justify-content: center;
    }
  }

  .col {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $size-10px 0;
    width: 100%;
    @include desktop() {
      padding: $size-8px;
    }
    &.col-2 {
      flex: 0 0 auto;
      @include desktop() {
        width: 50%;
      }
    }
    &.col-3 {
      flex: 0 0 auto;
      @include desktop() {
        width: 33.3333333333%;
      }
    }
    &.col-4 {
      flex: 0 0 auto;
      width: 100%;
      @include largeDesktop() {
        width: 25%;
      }
    }

    &.col-3-sm {
      flex: 0 0 auto;
      @include desktop() {
        width: 31%;
      }
    }
    &.col-3-lg {
      flex: 0 0 auto;
      @include desktop() {
        width: 38%;
      }
    }

    .bg-lightgray {
      background-color: $color-lightgray;
      border-color: $color-mediumgray;
    }
  }
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
}

.justify-center {
  justify-content: center;
}

.col-reverse {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column-reverse;
  @include desktop() {
    flex-direction: row;
  }
  button {
    margin: 0.2rem 0;
    @include desktop() {
      margin-left: toRem(7);
      margin-right: toRem(7);
    }
  }
}

.container {
  @include siteWidth();
  padding-left: 0;
  padding-right: 0;

  @include desktop() {
    margin: toRem(10) auto 0;
    padding-left: $size-20px;
    padding-right: $size-20px;
  }
}

.wrap {
  @include siteWidth();
  margin: 0 auto;
}

.narrow-wrap {
  @include narrowWidth();
  margin: 0 auto;
}

.m-w-100 {
  width: 100%;
  @include desktop() {
    width: auto;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: toRem(20);
  position: relative;
  &.pb-0 {
    padding-bottom: 0;
  }
  &.plr-0 {
    padding-left: 0;
    padding-right: 0;
  }
  &.m-pb-0 {
    padding-bottom: toRem(10);
    @include desktop() {
      padding-bottom: toRem(20);
    }
  }
  @include desktop() {
    padding: toRem(20);
  }
  &.selected {
    border-color: $color-orange;
    cursor: pointer;
  }
  @include card();
}
.active .inner {
  border-color: $color-lightblue;
}
.flag-blue {
  display: block;
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0.6em;
  transform: translate(-50%, -50%);
  background-color: $color-darkblue;
  color: $color-white;
  padding: 0.3125rem 0.5625rem;
  border-radius: 0.5rem;
  font-weight: 600;
  z-index: 1;
}

.pointer {
  svg {
    display: none;
  }
  &.active svg {
    display: block;
    position: absolute;
    right: toRem(15);
  }
}

.open-container {
  margin: $size-30px 0;
  background-color: $color-white;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 toRem(15) $size-20px toRem(15);
  border-color: transparent transparent $color-white transparent;
  position: relative;
  top: toRem(-20);
  margin: 0 auto;
  display: block;
}

/* Alignment */
.align-center {
  text-align: center;
  &.text-left {
    text-align: left;
  }
}

/* Width */
.w-100 {
  width: 100%;
}

.w-700 {
  max-width: toRem(700);
}

.footer-btn-theme {
  background-color: $color-white;
  @include shadow();
  position: sticky;
  bottom: 0;
  margin-bottom: -5.2rem;
  z-index: 9;

  button {
    margin: toRem(2) toRem(8);
  }
  @include desktop() {
    margin: toRem(5) 0;
    &:not(.scroll) {
      background-color: transparent;
      box-shadow: none;
      position: relative;
      bottom: 0;
      margin-bottom: 0;
      z-index: 1;
    }
  }
  &.scroll {
    background-color: $color-white;
    @include shadow();
    position: sticky;
    bottom: 0;
    margin-bottom: -5.2rem;
    z-index: 9;
  }
}
.theme-padding {
  padding: $size-20px $size-10px;
}

/* font general */
.bold {
  font-weight: 600;
}
.text-underline {
  text-decoration: underline;
}
.text-nounderline {
  text-decoration: none !important;
}
.link,
a.link,
a.link:active,
a.link:visited {
  color: $color-black;
  font-weight: 600;
  text-decoration: none;
}
a.link:hover,
a.link:focus {
  color: $color-mediumblue;
}

/* Margin */
.mb-20px {
  margin-bottom: toRem(20);
}
.mb-30px {
  margin-bottom: toRem(30);
}

/* bullets */
.bullets {
  margin-top: toRem(10);
  margin-left: toRem(20);
  li {
    margin-bottom: toRem(5);
  }
}
.lists {
  list-style: none;
  margin-left: toRem(20);
  li {
    margin-bottom: toRem(5);
  }
}
.pointer {
  cursor: pointer;
}

.plr-20px {
  padding-left: toRem(20);
  padding-right: toRem(20);
}

.pt-20px {
  padding-top: toRem(20);
}

.pb-20px {
  padding-bottom: toRem(20);
}

.ptb-10px {
  padding-top: toRem(10);
  padding-bottom: toRem(10);
}

.page-title {
  font-size: $size-32px !important;
}

.page-subtitle {
  font-size: $size-26px !important;
}

.error-notice {
  background-color: $color-lightred;
  border: toRem(2) solid $color-red;
  border-radius: toRem(11);
  &::before {
    content: "\26A0";
    font-weight: 600;
    color: $color-red;
    margin-right: toRem(5);
    font-size: toRem(16 !important);
  }
}

.error-text {
  color: $color-red;
  font-weight: 600;
}

.m-container-width {
  width: 92%;
  margin: 0 auto;
  @include desktop() {
    width: 100%;
  }
}

.lock {
  /*overflow-y: hidden; */
}
