@import "~/styles/settings/mixins";
@import "~/styles/settings/colors";

.blogSubscriptionBanner {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    @include tablet() {
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
    }
    .textContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .heading {
        text-align: left;
      }
      .text {
        text-align: left;
        display: flex;
        justify-content: flex-start;
      }
    }
    .form {
      @include desktop() {
        display: flex;
        align-items: center;
      }
      form {
        @include desktop() {
          position: relative;
          width: 100%;
          display: flex;
          align-items: flex-end;
          & > div {
            &:first-child {
              width: 100%;
              position: relative;
              flex-basis: 100%;
              & > label {
                padding-top: unset;
                padding-bottom: 0.125rem;
              }
              & > div {
                &:last-child {
                  position: absolute;
                }
              }
            }
            &:last-child {
              margin: 0 0 0.2rem 1rem !important;
            }
          }
        }
        label,
        legend,
        input,
        select {
          color: inherit;
        }
        label {
          & > span {
            color: inherit;
          }
        }
        input,
        select {
          border: 0.125rem solid $color-white;
          border-radius: 0.5rem;
        }
        select {
          background-color: transparent;
        }
        input {
          &:not([type="submit"]) {
            background-color: transparent;
          }
        }
        & > div {
          &:last-child {
            align-items: flex-start !important;
            input[type="submit"] {
              border-radius: 3rem;
              border: unset;
              &:hover {
                background-color: $color-white;
                color: $color-navy;
              }
            }
            @include desktop() {
              & > div {
                &:only-of-type {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  transform: translateY(150%);
                }
              }
            }
          }
        }
      }
      .success {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        p {
          margin-top: 1rem;
        }
      }
    }
  }
}
