@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.section {
  position: sticky;
  top: -2px;
  z-index: 4;
  padding: 1.25rem 0;
  background-color: white;
  box-shadow: 0 0 0.5rem 0px #00000014;
  .nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    > * {
      align-self: center;
    }
  }
}
