@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";
@import "../../../styles/settings/variables";

.leadershipPageContent {
  $gap: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $gap;
  @include tablet() {
    row-gap: 0;
    display: flex;
    flex-direction: row;
  }
  .leader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    & > * {
      flex-basis: 50%;
    }
    p {
      &:first-of-type {
        font-size: $size-3;
        font-weight: 600;
      }
    }
    @include tablet() {
      margin-bottom: $gap;
      + .leader {
        margin-left: $gap;
      }
    }
    .leaderImage {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      & > img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        max-width: 16.4375rem;
        max-height: 16.4375rem;
        object-fit: cover;
      }
      .leaderImageFilter {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: unset;
        max-width: 16.4375rem;
        transition: background-color 0.25s ease-in-out;
      }
    }
    &:hover {
      .leaderImage {
        &::after {
          content: "Read Bio";
          position: absolute;
          font-weight: 600;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0.5rem;
          width: 100%;
          max-width: 9.0625rem;
          border: 0.2rem solid $color-white;
          color: $color-white;
          border-radius: 3rem;
          animation: fadeIn 0.25s ease-in-out;
        }
        .leaderImageFilter {
          background-color: transparentize(
            $color: $color-darkpurple,
            $amount: 0.25
          );
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      border-color: transparent;
      color: transparent;
    }
    to {
      border-color: $color-white;
      color: $color-white;
    }
  }
}
