@import "../../styles/settings/__settings";

.head-wrap {
  background-color: $color-white;
  @include shadow();
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 0 toRem(30);
  overflow-y: hidden;
  overflow-x: hidden;
  flex-direction: column;
  @include desktop() {
    flex-direction: row;
  }
  @include siteWidth();
  margin: 0 auto;
  padding: toRem(12) toRem(20);
  background-color: $color-white;
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.header-border {
  display: flex;
  align-items: center;
  height: toRem(24);
  .header-line {
    background-color: $color-gray;
  }
}

.header-line {
  flex: 1;
  height: toRem(3);
  background-color: $color-gray;
  @include desktop() {
    height: toRem(4);
  }
}

.progress-steps {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: toRem(5);
  @include desktop() {
    max-width: toRem(800);
    margin-top: 0;
  }
  .progress-step:first-of-type,
  .progress-step:last-of-type {
    flex: 1;
  }
}

.progress-step {
  flex: 2;
  &.current .header-line {
    background-color: $color-mediumblue;
    &.active {
      background-color: $color-gray;
    }
  }
  &.completed {
    .step-info {
      color: $color-mediumblue;
    }
    .header-line {
      background-color: $color-mediumblue;
      &.active {
        background-color: $color-gray;
      }
    }
  }
  .step-info {
    display: block;
    color: $color-gray;
    margin-top: toRem(8);
    line-height: toRem(18);
    font-size: $size-13px;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    position: absolute;
    left: toRem(-99999999);
    top: toRem(-999999);
    @include desktop() {
      position: relative;
      left: 0;
      top: 0;
    }
  }
  &:last-of-type .step-info {
    text-align: right;
  }
}
.current {
  .step-info {
    position: relative;
    left: 0;
    top: 0;
  }
}
