@import "../../styles/settings/_colors.scss";
@import "../../styles/settings/_mixins.scss";

.subscribe {
  background: $color-lightgray;
  border-radius: 2rem;
  padding: 1.75rem;
  position: relative;
  // Eliminate CLS because we load marketo on idle
  min-height: 32rem;
  @include desktop() {
    max-width: 25vw;
    min-width: 100%;
  }
  .heading {
    text-transform: uppercase;
    color: $color-darkgray;
    font-size: 1rem;
  }

  .title {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: $color-darkgray;
  }

  .label {
    margin-top: 0.75rem;
  }

  .subscribeButton {
    margin-top: 2rem;
    width: 100%;
    text-transform: uppercase;
  }
}
