@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.accordion, .accordionItem {
    display: flex;
    flex-direction: column;
}
.accordion {
    .accordionItem {
        .itemToggle {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: .75rem 0;
            cursor: pointer;
            user-select: none;
            &::-webkit-details-marker {
                display:none;
              }
            .chevron {
                width: .75rem;
                height: .75rem;
                margin-left: .2rem;
                border-color: $color-darkblue;
                border-width: 0 .25rem .25rem 0;
                border-style: solid;
                transform: translateY(-.2rem) rotate(45deg);
            }
            span {
                color: $color-white;
                font-size: 1.25rem;
            }
            @include focus-visible-touch-outlines();
        }
        &[open] {
            .chevron {
                transform: translateY(.2rem) rotate(225deg);
            }
            ~ .itemContent {
                position: relative;
                left: auto;
                animation: slide-down 500ms;
            }
            @keyframes slide-down {
                0% {
                    pointer-events: none;
                    transform: translateY(-3rem);
                    opacity: 0;
                }
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
    .itemContent {
        position: absolute;
        left: -2147483647px;
        color: $color-black;
        a {
            color: $color-darkblue;
        }
    }
}
