@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.awardsPageContent {
  max-width: 31.25rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  .award {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & > * {
      flex-basis: 50%;
    }
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    .awardImage {
      display: flex;
      margin-bottom: 1rem;
      img {
        max-height: 7.5rem !important;
        min-height: 7.5rem !important;
      }
    }
    .awardLink {
      display: flex;
      margin-top: 1rem;
      justify-content: center;
      span {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 600;
        color: $color-darkblue;
        &::after {
          content: "";
          display: block;
          padding: 0.3rem;
          border-right: solid;
          border-top: solid;
          margin-left: 0.2rem;
          border-width: 0.1rem;
          border-color: $color-darkblue;
          transform: rotate(45deg);
        }
      }
    }
    @include desktop() {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      text-align: left;
      .awardImage {
        margin-bottom: unset;
        img {
          // margin: 0 3.5rem 0 auto !important;
        }
      }
      .awardLink {
        display: block;
      }
    }
  }
}
