@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.resourceList {
  .heading {
    padding: 2rem 0;
    margin: 3rem 0 1rem 0;
    text-align: center;
  }
  .resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .resource {
      width: 90vw;
      min-width: unset;
      max-width: 25rem;
      > * {
        max-width: calc(33% - 1.875rem);
      }
    }
    @include desktop() {
      display: grid;
      gap: 2rem;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      .resource {
        width: initial;
        > * {
          max-width: calc(33% - 1.875rem);
        }
      }
    }
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      font-size: 1.25rem;
      padding: 0.75em 2em;
      border-radius: 3em;
      border-width: 0.15em;
      margin-top: 4rem;
    }
  }
}
