@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.resourceList {
  .heading {
    padding: 2rem 0;
    margin: 3rem 0 1rem 0;
    text-align: center;
  }
  .resources {
    display: grid;
    gap: 2rem;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    .resource {
      > * {
        max-width: calc(33% - 30px);
      }
    }
    @include touch() {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .resource {
        width: calc(33% - 30px);
        min-width: 340px;
      }
    }
    @include mobile() {
      .resource {
        width: 90vw;
        min-width: unset;
      }
    }
  }
}
