@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.embedVideo {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .embed {
      width: 100%;
      &.border {
        padding: 1rem;
        box-shadow: -0.0625rem 0 0.75rem 0.5rem rgb(0 0 0 / 15%);
      }
      background-color: $color-white;
      border-radius: 0.85rem;
      iframe {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }
}
