@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.embedVideo {
  .content {
    &.column {
      flex-direction: column;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &.embedRight,
    &.embedLeft {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      @include desktop() {
        grid-template-columns: 3fr 4fr;
        gap: 2rem;
      }

      .embed {
        display: flex;
        align-items: center;
        .iframeWrapper {
          width: 100%;
        }
      }
    }
    &.embedLeft {
      @include desktop() {
        grid-template-columns: 4fr 3fr;
        .embed {
          order: -1;
        }
        .text {
          margin-left: 2rem;

          p {
            font-size: 1rem;
          }
          .text {
            margin-left: 0;
          }
        }
      }
    }

    .embed {
      width: 100%;
      padding: 1rem;
      box-shadow: -0.0625rem 0 0.75rem 0.5rem rgb(0 0 0 / 15%);
      background-color: $color-white;
      border-radius: 0.85rem;
      &.disableBorder {
        box-shadow: unset;
        padding: unset;
      }
      .iframeWrapper {
        iframe {
          width: 100%;
          aspect-ratio: 16/9;
        }
        // Fallback for Safari 14.1 and older
        @supports not (aspect-ratio: auto) {
          position: relative;
          padding-top: 56.25%;
          iframe {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}
