@import "../../styles/settings/__settings";

.form-title-wrap {
  display: flex;
  margin-top: toRem(20);
}
.form-title {
  font-size: $size-18px !important;
}
.number {
  width: toRem(24);
  height: toRem(24);
  font-size: $size-18px;
  line-height: toRem(24);
  color: $color-black;
  font-weight: 600;
  border-radius: 50%;
  background-color: $color-paleblue;
  display: block;
  text-align: center;
  margin-right: toRem(15);
}

.ml-20px {
  margin-left: toRem(20);
}
.mlr-38px {
  margin-left: toRem(38);
  margin-right: toRem(38);
}
.mlr-30px {
  margin-left: toRem(30);
  margin-right: toRem(30);
}
.text-regular {
  font-size: $size-16px;
}

.hidden {
  position: fixed;
  top: -9999px;
  left: -9999px;
}

.subscription-title {
  font-size: $size-20px;
  font-weight: 600;
}
.text-highlight {
  color: $color-lightblue;
  font-weight: 600;
}
.text-large {
  &:is(p) {
    font-size: 2.25rem !important;
  }
  &:is(h3) {
    font-size: $size-22px;
    @include desktop() {
      font-size: $size-30px !important;
    }
  }
  font-weight: 600;
}
.text-suffix {
  font-size: $size-13px;
  font-weight: 400;
}
.text-mediumlarge {
  font-size: toRem(22);
}
.text-medium {
  font-size: toRem(14);
}
.text-small {
  font-size: $size-13px;
  font-weight: 300;
  li {
    font-size: $size-13px;
    font-weight: 400;
  }
}
.text-26px {
  font-size: $size-26px;
}
.tag {
  background-color: $color-navy;
  span {
    color: $color-white;
    padding: toRem(20) toRem(20);
    display: block;
    font-weight: 600;
  }
}

.radio-title {
  font-size: $size-22px !important;
  font-weight: 400 !important;
  line-height: 1.1em;
}

.radio {
  transform: translateY(-toRem(4));
  margin-right: 0;
}
.radio-wrap {
  position: relative;
  padding: toRem(4) 0 toRem(4) toRem(24);
  min-height: toRem(20);
  line-height: toRem(20);
  margin-right: toRem(5);
}
.radio-inner {
  display: block;
  width: toRem(20);
  height: toRem(20);
  position: absolute;
  left: 0;
  &.active:before {
    border-color: $color-darkblue;
    background-color: $color-white;
  }
  &.active:after {
    background-color: $color-darkblue;
  }
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: toRem(-8);
    border-radius: 100%;
    content: "";
    border: toRem(2) solid $color-gray;
    width: toRem(20);
    height: toRem(20);
    background-color: $color-white;
    cursor: pointer;
    box-sizing: border-box;
  }
  &:after {
    width: toRem(10);
    height: toRem(10);
    border-radius: 100%;
    background-color: $color-white;
    content: "";
    position: absolute;
    left: toRem(5);
    top: toRem(7);
    transition: transform 0.15s ease-in;
  }
}
.select-box {
  cursor: pointer;
  &:focus {
    @include outline();
    //box-shadow: 0 0 0 toRem(4) rgba(0, 125, 250, 0.6);
  }
}
.checkbox-wrap {
  margin-top: toRem(20);
  span {
    font-size: toRem(14);
  }
}
.mt-15px {
  margin-top: toRem(15);
}
.disabled {
  opacity: 0.2;
}
