@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.textWithMedia {
  .heading {
    margin-bottom: 2rem;
  }
  .content {
    display: flex;
    & > * {
      flex-basis: 100%;
    }
    @include touch() {
      flex-direction: column;
      flex-direction: column-reverse;
    }
  }
  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .html {
      margin-bottom: 2rem;
    }
    .link {
      margin-top: unset;
    }
  }
  .media {
    @include touch() {
      margin: unset;
    }
  }
}
