@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.textWithMedia {
  .brandHeading {
    margin: 0;
    p {
      font-size: 0.9em;
      font-weight: 500;
    }
  }
  .heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include desktop() {
      margin-top: initial;
      margin-bottom: 2rem;
    }
  }
  .content {
    display: flex;
    $gap: 3.5rem;
    &.columnLayout {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .textContent:not(:only-child) {
        margin-bottom: $gap;
      }
    }
    &.mediaLeft {
      flex-direction: row-reverse;
      .textContent:not(:only-child) {
        margin-left: $gap;
      }
    }
    &.mediaRight {
      flex-direction: row;
      .textContent:not(:only-child) {
        margin-right: $gap;
      }
    }
    @include touch() {
      flex-direction: column-reverse !important;
      .textContent:not(:only-child) {
        margin: $gap 0 0 0 !important;
      }
    }
  }
  .fullPageWidthContent {
    @include touch() {
      flex-direction: column;
    }
    .fullPageWidthTextContent {
      padding: 3rem 1rem;
      * {
        width: 100%;
      }
      @include desktop() {
        padding: 6rem 0;
        * {
          width: initial;
        }
        & > * {
          max-width: 28.75rem;
          margin: 0 auto;
        }
      }
    }
    .fullPageWidthMedia {
      display: flex;
      @include desktop() {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
        height: 39.125rem;
        & > * {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          min-height: 100%;
          min-width: 100%;
          img {
            object-fit: cover;
            margin-block: unset;
          }
        }
      }
    }
  }
  .brandWidthContent {
    @include desktop {
      margin-bottom: 2rem;
    }
    @include touch() {
      flex-direction: column;
    }
    .brandWidthMedia {
      display: flex;
      &.posAbsolute {
        @include desktop() {
          & > * {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      @include desktop() {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
        & > * {
          display: block;
          min-height: 100%;
          min-width: 100%;
          img {
            object-fit: cover;
            margin-block: unset;
          }
        }
      }
    }
  }

  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.backgroundPadding {
      padding: 10% 0;
    }
    &.textContentBasis30 {
      flex-basis: 30%;
    }
    &.textContentBasis40 {
      flex-basis: 40%;
    }
    &.textContentBasis50 {
      flex-basis: 50%;
    }
    &.textContentBasis60 {
      flex-basis: 60%;
    }
    &.textContentBasis70 {
      flex-basis: 70%;
    }
    .html {
      margin-bottom: 2rem;
      p {
        margin-bottom: 2rem;
        margin-top: 0.5rem;
        display: block;
        &:last-child {
          margin-bottom: 0;
        }
      }
      ul {
        li {
          margin-top: 0.25rem;
        }
      }
      a {
        //text-decoration: unset;
        color: $color-darkblue;
      }
    }
    .link {
      margin-top: unset;
      border-radius: 3em;
      border-width: 0.15em;
    }
  }
  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    // Vertical align conf
    &.mediaBasis30 {
      flex-basis: 30%;
    }
    &.mediaBasis40 {
      flex-basis: 40%;
    }
    &.mediaBasis50 {
      flex-basis: 50%;
    }
    &.mediaBasis60 {
      flex-basis: 60%;
    }
    &.mediaBasis70 {
      flex-basis: 70%;
    }

    @include desktop() {
      &.p1 {
        padding: 1rem;
      }
      &.p2 {
        padding: 2rem;
      }
      &.p3 {
        padding: 4rem;
      }
    }

    div {
      &:only-child {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          object-fit: contain;
        }
      }
      &.svgMediaContainer {
        img {
          position: relative !important;
          height: 100% !important;
        }
      }
    }
  }
}

.testimonial {
  @include shadow();
  position: relative;
  border-radius: 1rem;
  margin: 3rem 0;
  padding: 3rem 1rem;
  max-width: 32ch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include desktop() {
    padding: 3.5rem 1.5rem;
  }
  &.testimonialComment {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .testimonialIcon {
      position: absolute;
      padding: 1rem;
      max-width: 5rem;
      max-height: 5rem;
      background-color: $color-darkblue;
      border-radius: 50%;
      top: -2rem;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  p {
    margin: 1rem 0 2rem 0;
    font-style: italic;
    font-size: 1.2rem;
  }
  .testimonialDetails {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0.5rem 0;
      font-size: 1rem;
    }
    .testimonialImage {
      padding: 1rem;
      max-width: 7.8125rem;
      max-height: 7.8125rem;
      overflow: hidden;
      & > span {
        &:only-child {
          border-radius: 50%;
        }
      }
    }
  }
}
.mediaBackgroundContainer {
  position: relative;
  overflow: hidden;
  padding: 0;
  color: white;
  @include desktop {
    min-height: 65vh;
  }

  //Mobile view needs work
  .mediaBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    & > * {
      min-width: 100vw;
      min-height: 100vh;
      @include desktop {
        min-height: unset;
      }
    }
  }
}
