@import "../../../styles/settings/_mixins.scss";
@import "../../../styles/settings/_colors.scss";
@import "../../../styles/settings/_variables.scss";

.blogPostContent {
  position: relative;
  .container {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    position: relative;
    @include desktop() {
      grid-template-columns: 6fr 3fr;
    }
  }

  .meta {
    display: block;
    margin-bottom: 2rem;
  }

  .content {
    margin-top: 2rem;
  }
}

.share {
  @include desktop() {
    top: 50%;
    left: -7rem;
    padding-top: 4rem;
    position: absolute;
  }

  span {
    margin-right: 1.5rem;
    border-radius: 100%;
    color: white;
    background-color: $color-navy;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
}

.requestDemo {
  width: 80%;
  text-align: center;
  margin: 1.5rem auto;
  display: block;
}

.blogPostList {
  background-color: $color-lightgray;
}