// Semantic naming makes it easier to quickly add buttons
// Ie. we remember the class name 'white' better than 'primary'

.button,
.mktoButton {
  border-radius: 3rem;
  background: $color-navy;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  text-align: center;
  // TODO: add individual for bg and colors, not all
  transition: all 150ms;
  border: 0.2rem solid $color-navy;
  vertical-align: center;
  &.small,
  .mktoButton {
    font-size: 1rem;
    border-width: 0.1rem;
  }
  &.medium {
    font-size: 1.2rem !important;
  }
  &.big {
    font-size: 1.4rem !important;
  }

  &.outlined {
    border-color: $color-navy;

    &:hover {
      color: white;
      background-color: $color-navy;
      border-color: $color-navy;
    }
  }
  &.no-outline {
    border: unset;
  }
  &.white {
    background-color: white;
    color: $color-navy;
    &:hover {
      color: white;
      background-color: $color-paleblue;
    }
  }

  // Main navigation link cta
  &.navbarCta {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  // Contact form cta
  &.cyan {
    color: white;
    background-color: $color-skyblue;
    border-color: $color-skyblue;

    &.outlined {
      border-color: $color-skyblue;
      background-color: white;
      color: $color-navy;

      &:hover {
        color: white;
        background-color: $color-navy;
        border-color: $color-navy;
      }
    }
  }

  &.orange {
    background-color: $color-orange;
    border-color: $color-orange;
    color: white;

    &:hover {
      background-color: $color-navy;
      border-color: $color-navy;
      color: white;
    }
  }

  &.mediumblue {
    background-color: $color-mediumblue;
    color: white;
  }

  &.small {
    padding: 0.25rem 1.5rem;
    font-weight: 600;
  }
}

// reset button styling
.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-align: inherit;
  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;

  &:focus {
    @include outline();
    &:not(:focus-visible) {
      outline: none;
    }
    &:not(:-moz-focusring) {
      outline: none;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
