@import "../settings/_mixins";

$card-image-height: toRem(170);
$card-tall-image-height: toRem(270);
$card-border-radius: 1rem;
$card-shadow: 0 0 0.5rem 0.25rem rgb(0 0 0 / 12%);

.genericCardListLoader .genericCardLoading,
.genericCardWrapper .genericCard {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: $card-border-radius;
  @include shadow();
}

.genericCardListLoader {
  .genericCardLoading {
    height: 22.5vh;
    min-height: 18.75rem;
    justify-content: flex-start;
    width: 100%;
    &--tall {
      height: 62.5vh;
      .loadingTextContent div:not(:last-child) {
        margin-bottom: 0.5rem;
        &.loadingTextFieldWide {
          margin-bottom: 0.75rem;
        }
        &.loadingTextFieldNarrow {
          margin-bottom: 1rem;
        }
      }
    }
    .loadingImageField {
      justify-self: flex-start;
      flex: 0 0 $card-image-height;
      background: $color-gray;
      overflow: hidden;
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
      &--tall {
        flex: 0 0 $card-tall-image-height;
      }
    }
    .loadingTextContent {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .loadingTextFieldWide {
        height: 1rem;
        width: 80%;
        border-radius: 1rem;
        margin: 0.25rem 1.5rem;
      }
      .loadingTextFieldNarrow {
        height: 1rem;
        width: 40%;
        border-radius: 1rem;
        margin: 0.5rem 1.5rem;
      }
    }
    .loadingImageField,
    .loadingTextContent .loadingTextFieldWide,
    .loadingTextContent .loadingTextFieldNarrow {
      background-image: linear-gradient(
        65deg,
        $color-lightgray 0%,
        $color-mediumgray 50%,
        $color-lightgray 100%
      );
      background-size: 600%;
      animation: bg-animation 1.5s infinite;
    }
  }
  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }
}

.genericCardWrapper {
  height: 100%;
  &__link {
    @supports #{"\selector(*:focus-visible)"} {
      &:not(:focus-visible) {
        .genericCard {
          outline: none !important;
        }
      }
      &:focus-visible {
        outline: none !important;
        .genericCard {
          @include outline();
        }
      }
    }
    @supports #{"\not selector(*:focus-visible)"} {
      &:focus {
        outline: none !important;
        .genericCard {
          @include outline();
        }
      }
    }
    @media (any-pointer: coarse) {
      &:hover {
        outline: none !important;
        .genericCard {
          @include outline();
        }
      }
    }
  }
  .genericCard {
    height: 100%;
    &__image,
    &__titleWithIcon {
      height: $card-image-height;
      &--tall {
        height: $card-tall-image-height;
      }
    }
    &__image {
      background: $color-gray;
      overflow: hidden;
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
      & > img {
        height: 100%;
        width: 100%;
      }
    }
    &__textContent {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      &--date {
        text-transform: uppercase;
        color: $color-black;
        font-size: 1rem;
        padding: 1rem 1.5rem 0 1.5rem;
      }
      &--category {
        text-transform: capitalize;
        color: $color-black;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.75rem 1.5rem 0 1.5rem;
      }
      &--title {
        font-size: 1.1rem;
        line-height: 1.2;
        padding: 0.8rem 1.5rem 0 1.5rem;
      }
      &--titleEmphasized {
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 2rem;
      }
      &--description {
        font-size: 1.05rem;
        padding: 0.75rem 1.5rem 0 1.5rem;
      }
      &--podcast {
        background: url(https://assets.ujet.cx/files/Icons/podcast-icon-white.svg)
          no-repeat 0.5rem center $color-orange;
        background-size: toRem(13);
        padding: 0.2rem 0.5rem 0.2rem 1.62rem;
        margin-left: 0.5rem;
        font-size: 0.7rem;
        color: $color-white;
        border-radius: 1rem;
      }
      &--newsSite {
        padding: 0 1.5rem;
        display: block;
        font-weight: 600;
        font-size: 0.9rem;
        color: $color-darkblue;
      }
      &--link {
        padding: 0.5rem 1.5rem 1.3rem 1.5rem;
        display: block;
        font-weight: 600;
        font-size: 1rem;
        color: $color-darkblue;
        span {
          position: relative;
          display: flex;
          align-items: center;
          &::after {
            content: "";
            display: block;
            padding: 0.15rem;
            border-right: solid;
            border-top: solid;
            margin-left: 0.2rem;
            border-width: 0.15rem;
            border-color: $color-darkblue;
            transform: rotate(45deg);
          }
        }
      }
    }
    &__titleWithIcon {
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &--icon {
        height: 100%;
        border-radius: 0;
        background-color: transparent;
        flex: 0 0 40%;
        &:not(:only-child) {
          margin-right: 0.75rem;
        }
        > img {
          height: 100% !important;
          object-fit: contain !important;
        }
      }
    }
  }
}
