.genericCard {
  height: 40vh;
  min-height: 25rem;
  border-radius: 1rem;
  @include shadow();
  display: flex;
  flex-direction: column;
  @include touch() {
    .image {
      max-height: 22.5rem;
    }
  }

  &__image {
    background: $color-gray;
    flex: 1;
    max-height: 12.5rem;
    min-height: 10.625rem;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    & > div {
      &:only-child {
        height: 100%;
      }
    }
  }
  &__textContent {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &--date {
      text-transform: uppercase;
      color: $color-black;
      font-size: 1rem;
      padding: 1rem 1.5rem 0 1.5rem;
    }

    &--category {
      text-transform: capitalize;
      color: $color-black;
      font-size: 1rem;
      font-weight: 600;
      padding: 1rem 1.5rem 0 1.5rem;
    }

    &--title {
      padding: 1rem 1.5rem 0 1.5rem;
    }

    &--description {
      padding: 1rem 1.5rem 0 1.5rem;
    }

    &--link {
      padding: 0.5rem 1.5rem 3rem 1.5rem;
      display: block;
      font-weight: 600;
      font-size: 1rem;
      span {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
          content: "";
          display: block;
          padding: 0.15rem;
          border-right: solid;
          border-top: solid;
          margin-left: 0.2rem;
          border-width: 0.15rem;
          border-color: $color-navy;
          transform: rotate(45deg);
        }
      }
    }
  }
}
