.googleCloudAnimation {
  margin: 2rem 0;
  #cloudWrapper {
    #a {
      fill: #fff;
    }
    #b {
      fill: #ea4335;
    }
    #c {
      fill: #4285f4;
    }
    #d {
      fill: #34a853;
    }
    #e {
      fill: #fbbc05;
    }
    #f {
      fill: #5f6368;
    }
    #g {
      fill: #109fff;
    }
  }
}
