:root {
  --cloud-animation-state: paused;
  --cloud-animation-direction: reverse;
}

.googleCloudAnimation {
  margin: 2rem 0;
  & > * {
    &:only-child {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 15rem;
      svg {
        position: absolute;
        max-width: 90vw;
      }
      @include tablet() {
        min-height: 25rem;
      }
    }
  }
  &--main {
    z-index: 1;
  }
  &--bg {
    z-index: 0;
  }
  &--main,
  &--bg {
    animation-delay: 0.1s;
  }
  @keyframes translateY-up {
    from {
      opacity: 0;
      transform: translateY(25%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes translateY-down {
    from {
      opacity: 0;
      transform: translateY(-25%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes scaleCloudIn {
    from {
      transform: scale(12);
    }
    to {
      transform: scale(1);
    }
  }
  @include desktop() {
    & > * {
      &:only-child {
        min-width: 25rem;
        svg {
          max-width: 25rem;
        }
      }
    }
    &--main {
      path:not(.g),
      circle:not(.g),
      polygon:not(.g),
      rect:not(.g) {
        opacity: 0;
        animation: 0.5s translateY-down forwards;
        animation-play-state: var(--cloud-animation-state);
        animation-direction: var(----cloud-animation-direction);
      }
      .g {
        opacity: 0;
        animation: 0.5s translateY-up forwards;
        animation-play-state: var(--cloud-animation-state);
        animation-direction: var(----cloud-animation-direction);
        animation-delay: 0.2s;
      }
    }
    &--bg {
      transform: scale(12);
      animation: 1.3s scaleCloudIn forwards;
      animation-play-state: var(--cloud-animation-state);
      animation-direction: var(----cloud-animation-direction);
    }
  }
}
