@import "~/styles/settings/mixins";
@import "~/styles/settings/colors";

.flexColumnTableWithHeading {
  position: relative;
  .content {
    .tableWrapper {
      border-radius: 1rem;
      padding: 3rem 0 0 0;
      overflow: hidden;
      .headingWrapper {
        padding-bottom: 1rem;
        padding-left: 1rem;
        @include largeDesktop() {
          padding-left: 2rem;
        }
      }
      .columnTable {
        display: grid;
        @include largeTouch() {
          grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
        }
        .tableColumn {
          padding: unset;
          margin: unset;
          @include largeDesktop() {
            &:first-child {
              .columnTitle,
              .columnCell {
                td,
                th {
                  padding-left: 2rem;
                }
              }
            }

            &:last-child {
              .columnTitle,
              .columnCell {
                td,
                th {
                  padding-right: 2rem;
                }
              }
            }
          }
          .columnCell {
            td {
              min-height: 4rem;
              font-size: 1rem;
              padding-right: 1.5rem;
            }
          }
        }
      }
      .rowTable {
        width: 100%;
        .columnTitle,
        .columnCell {
          td {
            font-size: 1rem;
          }
          display: grid !important;
          @include largeTouch() {
            grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
          }
          @include largeDesktop() {
            td,
            th {
              &:first-child {
                padding-left: 2rem;
              }

              &:last-child {
                padding-right: 2rem;
              }
            }
          }
        }
        .columnCell {
          td {
            @include largeDesktop() {
              min-height: 4rem;
              padding-right: 1.5rem;
            }
          }
        }
      }
      .columnTable,
      .rowTable {
        .columnTitle {
          th {
            font-weight: bold;
            padding-bottom: 0.5rem;
            display: flex !important;
            border-bottom: unset;
            font-size: 1.2rem;
            @include largeTouch() {
              padding-top: 2rem;
              border-top: 1px solid #c2ddef;
            }
          }
        }
        .columnTitle,
        .columnCell {
          display: block;
          height: max-content;
          td {
            display: block;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            border-bottom: unset;
            @include largeDesktop() {
              padding-top: 0.75rem;
              padding-left: unset;
              padding-bottom: unset;
            }
          }
          th {
            @include largeDesktop() {
              padding-left: unset;
              padding-top: 0.75rem;
              padding-bottom: 0.5rem;
            }
          }
        }

        thead,
        tbody {
          display: block;
        }
      }
      &.paleblue {
        border: 1px solid #c2ddef;
        background-color: white;
        .columnTable {
          .columnCell {
            background-color: white;
            &:nth-child(odd) {
              background-color: #e8f6ff;
            }
          }
        }
        .rowTable {
          .columnCell {
            background-color: white;
            &:nth-child(even) {
              background-color: #e8f6ff;
            }
          }
        }
      }

      &.gray {
        background-color: #e8e9f6;
        .columnTable {
          .columnCell {
            background-color: #e7e9f8;
            &:nth-child(odd) {
              background-color: #dadde9;
            }
          }
        }
        .rowTable {
          .columnCell {
            background-color: #e7e9f8;
            &:nth-child(even) {
              background-color: #dadde9;
            }
          }
        }
      }
    }
  }
}
