$color-paleblue: #c4e0f6;
$color-lightblue: #3398dc;
$color-mediumblue: #109fff;
$color-skyblue: #00c9e5;
$color-darkblue: #0073aa;
$color-navy: #151552; // Use for all Titles
$color-orange: #ff4e33;
$color-black: #000843; // Use for regular content
$color-white: #ffffff;
$color-gray: #999999;
$color-darkgray: #777;
$color-darkmedium: #bbb;
$color-mediumgray: #e5e5e5;
$color-lightgray: #eeeeee;
$color-red: #ff0000; // Use for Error messages and Error selectors
$color-green: #427f11; // Use for valid messages and success icon
$color-darkpurple: #14012b;
$color-lightpurple: #9b58ea;
$color-mediumpurple: #6e0bdc;
