@use "variables" as var;
@use "sass:math";

@mixin largeDesktop() {
  @media (min-width: 1008px) {
    @content;
  }
}

@mixin touch() {
  @media (max-width: var.$touch) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: var.$desktop) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: var.$tablet) {
    @content;
  }
}

@mixin siteWidth() {
  width: 100%;
  max-width: 1084px;
}

@mixin narrowWidth() {
  width: 100%;
  max-width: 800px;
}

@function toRem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

@mixin buttons($bgColor, $borderColor, $fontColor, $fontWeight) {
  background-color: $bgColor;
  border-color: $borderColor;
  color: $fontColor;
  span {
    font-weight: $fontWeight;
  }
  &:hover {
    @if $bgColor == $color-white {
      background-color: $color-navy;
      border-color: $color-navy;
      color: $color-white;
    } @else if $bgColor == $color-orange {
      background-color: $color-darkblue;
      border-color: $color-darkblue;
    } @else if $bgColor == $color-navy {
      background-color: $color-darkblue;
      border-color: $color-darkblue;
    } @else if $bgColor == $color-darkblue {
      background-color: $color-orange;
      border-color: $color-orange;
    } @else {
      @error "Unknown hover color #{$bgColor}.";
    }
  }
}

@mixin section-headline($bgColor, $fontColor) {
  background-color: $bgColor;
  font-size: $size-18px;
  color: $fontColor;
  font-weight: 600;
  border-radius: 12px;
  padding: 10px 20px;
  margin: 30px 0;
}

@mixin card() {
  border: 3px solid $color-white;
  box-sizing: border-box;
  border-radius: 12px;
  @include shadow();
}

@mixin shadow() {
  -webkit-box-shadow: 0 0 30px 2px rgb(0 0 0 / 12%);
  box-shadow: 0 0 30px 2px rgb(0 0 0 / 12%);
  background-color: $color-white;
}
