// Only reset what needs to be reset (override bad user agent stylesheet or 3rd party injected markup)
// Reset here, not in typography

body,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*
  <<<<<<<<<<<<<<<<TYPOGRAPHY HELPER CLASSES>>>>>>>>>>>>>>>>>
*/

.is-size-1 {
  font-size: $size-1;
}
.is-size-2 {
  font-size: $size-2;
}
.is-size-3 {
  font-size: $size-3;
}
.is-size-4 {
  font-size: $size-4;
}
.is-size-5 {
  font-size: $size-5;
}
.is-size-6 {
  font-size: $size-6;
}

.w-100 {
  font-weight: 100;
}
.w-200 {
  font-weight: 200;
}
.w-300 {
  font-weight: 300;
}
.w-400 {
  font-weight: 400;
}
.w-500 {
  font-weight: 500;
}
.w-600 {
  font-weight: 600;
}
.w-700 {
  font-weight: 700;
}

.text-decoration-unset {
  text-decoration: unset;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-height-1 {
  line-height: 1;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: $size-1;
}
.mt-2 {
  margin-top: $size-2;
}
.mt-3 {
  margin-top: $size-3;
}
.mt-4 {
  margin-top: $size-4;
}
.mt-5 {
  margin-top: $size-5;
}
.mt-6 {
  margin-top: $size-6;
}

.mb-1 {
  margin-bottom: $size-1;
}
.mb-2 {
  margin-bottom: $size-2;
}
.mb-3 {
  margin-bottom: $size-3;
}
.mb-4 {
  margin-bottom: $size-4;
}
.mb-5 {
  margin-bottom: $size-5;
}
.mb-6 {
  margin-bottom: $size-6;
}

.ml-05 {
  margin-left: $size-05;
}
.ml-1 {
  margin-left: $size-1;
}
.ml-2 {
  margin-left: $size-2;
}
.ml-3 {
  margin-left: $size-3;
}
.ml-4 {
  margin-left: $size-4;
}
.ml-5 {
  margin-left: $size-5;
}
.ml-6 {
  margin-left: $size-6;
}

.mr-05 {
  margin-right: $size-05;
}
.mr-1 {
  margin-right: $size-1;
}
.mr-2 {
  margin-right: $size-2;
}
.mr-3 {
  margin-right: $size-3;
}
.mr-4 {
  margin-right: $size-4;
}
.mr-5 {
  margin-right: $size-5;
}
.mr-6 {
  margin-right: $size-6;
}

// margin-block: selects both margin-top and margin-bottom
.margin-block-1 {
  margin-block: $size-1;
}
.margin-block-2 {
  margin-block: $size-2;
}
.margin-block-3 {
  margin-block: $size-3;
}
.margin-block-4 {
  margin-block: $size-4;
}
.margin-block-5 {
  margin-block: $size-5;
}
.margin-block-6 {
  margin-block: $size-6;
}

.margin-center-horizontal {
  margin: 0 auto;
}

.margin-unset {
  margin: unset !important;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-3 {
  padding-bottom: $size-3;
}
// padding-block: selects both padding-top and padding-bottom
.padding-block-1 {
  padding-block: $size-1;
}
.padding-block-2 {
  padding-block: $size-2;
}
.padding-block-3 {
  padding-block: $size-3;
}
.padding-block-4 {
  padding-block: $size-4;
}
.padding-block-5 {
  padding-block: $size-5;
}
.padding-block-6 {
  padding-block: $size-6;
}

.padding-unset {
  padding: unset;
}

/*
  <<<<<<<<<<<<<<<<WIDTH HELPER CLASSES>>>>>>>>>>>>>>>>>
*/
.width-100 {
  width: 100%;
}

.max-width-narrow {
  @include narrowWidth();
}

.max-width-tablet {
  max-width: $tablet;
}

.max-width-medium {
  max-width: $medium;
}

.max-width-wide {
  max-width: $wide;
}

.max-width-unset {
  max-width: unset;
}
