$navbar-height: 5rem;
$desktop: 55.625rem;
$touch: $desktop - 0.0625rem;
$tablet: 48rem;
$mobile: 30rem;
$fullhd: 1920px;
$very-narrow: 36.25rem;
$medium: 85.375rem;
$medium-wide: 60rem;
$wide: $fullhd;
$medium-wide: 60rem;

// rem-sizes
$size-05: 0.25rem;
$size-1: 0.5rem;
$size-2: 1rem;
$size-3: 1.5rem;
$size-4: 2rem;
$size-5: 3rem;
$size-6: 5rem;
