@import "../../../styles/settings/colors";
@import "../../../styles/settings/mixins";

.infographic {
  .content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(max(100px, 100% / 6), 1fr));
    &.is2 {
      grid-template-columns: repeat(
        auto-fill,
        minmax(max(250px, 100% / 2), 1fr)
      );
      .item {
        &:first-child {
          border-right: 0.1rem solid $color-gray;
          padding-right: 1rem;
        }
      }
    }
    &.is3 {
      grid-template-columns: repeat(
        auto-fill,
        minmax(max(185px, 100% / 3), 1fr)
      );
    }
    &.is4 {
      grid-template-columns: repeat(
        auto-fill,
        minmax(max(165px, 100% / 4), 1fr)
      );
    }
    &.is5 {
      grid-template-columns: repeat(
        auto-fill,
        minmax(max(170px, 100% / 5), 1fr)
      );
    }

    &.boxStyle {
      box-shadow: 4px 4px 20px hsla(0, 0%, 49.8%, 0.15);
      padding: 5rem 4rem;
      .item {
        &:first-child {
          border-right: unset;
        }
        .itemTitle {
          font-size: 2.75rem;
          font-weight: 400;
          color: #27d262;
        }
        .itemTextContent {
          align-items: center;
          .itemDefinition,
          .itemDescription {
            color: $color-black;
          }
        }
      }
    }

    .item {
      position: relative;
      display: grid;
      padding: 0 5%;

      &.itemColumnLayout {
        grid-template-areas:
          "image image"
          "text text";
        .itemMedia {
          display: flex;
          justify-content: center;
          & > div {
            min-width: 96px;
          }
          padding-bottom: 1rem;
          .itemTitle {
            text-align: center;
          }
        }
        .itemTextContent {
          justify-content: flex-start;
        }
      }
      &.itemRowLayout {
        grid-template-areas:
          "image text"
          "image text"
          "image text"
          "image text";
        .itemTextContent {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .itemTitle {
            font-size: 3.5rem;
          }
        }
        .itemMedia {
          /*           & > div {
            max-width: 64px;
          } */
        }
      }
      &.itemRowReverseLayout {
        margin: 0 1rem;
        grid-template-areas:
          "text image"
          "text image"
          "text image"
          "text image";
        .itemTitle {
          font-size: 2.25rem;
        }
        .itemMedia {
          & > div {
            max-width: 96px;
          }
        }
        .itemTextContent {
          .itemDefinition {
            color: $color-navy;
          }
        }
      }

      > * {
        width: 100%;
      }
      & * > {
        text-align: center;
      }

      .itemMedia {
        grid-area: image;
        & > div {
          min-width: 150px;
          max-height: 150px;
          img {
            width: 100% !important;
            object-fit: contain;
            height: unset !important;
            min-height: unset !important;
          }
        }
      }
      .itemTitle {
        font-size: 2rem;
        font-weight: 600;
        grid-area: text;
      }

      .itemTextContent {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .itemDescription {
          color: $color-darkblue;
          font-weight: 600;
        }
        .itemDefinition {
          color: $color-darkblue;
        }
      }
      @include desktop() {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding: unset;
        .itemHeader {
          justify-content: center;
          align-items: unset;
          .itemMedia {
            min-width: 96px;
          }
          .itemTitle {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
