@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.awardsBanner {
  padding: 2rem 0;
  position: relative;

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & > div {
      display: block !important;
      &:only-child {
        height: 100%;
        img {
          object-fit: cover;
          height: unset;
          width: unset;
        }
      }
    }
  }
  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    gap: 2rem;
    aside {
      flex-basis: 100%;
    }
    .textContent {
      color: $color-white;
      & > div {
        &:only-child {
          min-height: 100%;
          padding: 4rem;
          .heading {
            margin-bottom: 1.5rem;
          }
          .featuredImage {
            & > div {
              &:only-child {
                min-height: 6.25rem;
                width: 100%;
                img {
                  object-fit: contain;
                  height: unset !important;
                  width: unset !important;
                }
              }
            }
          }
        }
      }
      &.columnLayoutTextContent {
        & > div {
          &:only-child {
            padding: unset;
          }
        }
      }
    }
    .awards {
      align-items: center;
      .awardImage {
        padding: unset !important;
        display: flex;
        justify-content: center;
        width: 100%;
        & > div {
          &:only-child {
            height: 100%;
            width: 100%;
            img {
              object-fit: contain;
              height: 100% !important;
              width: 100% !important;
            }
          }
        }
      }
    }
    @include desktop() {
      flex-wrap: unset;
      .textContent {
        //padding-right: 3.5rem;
      }
      .awards {
        .awardImage {
          padding: 0 0.5rem;
        }
      }
    }
  }
}
