@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.highlightedPost {
  position: relative;
  margin-bottom: 1rem;
  .highlightedPostBackgroundImage {
    & > * {
      display: block !important;
      height: 100% !important;
    }
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      max-height: unset !important;
      min-height: unset !important;
      height: 100% !important;
    }
  }
  .backgroundFilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize($color: #000, $amount: 0.35);
  }
  .highlightedPostContent {
    position: relative;
    color: $color-white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      margin: 1rem 0 2rem 0;
    }
    a {
      padding: 0.75rem 3.5rem;
    }
  }
  // resets for large screen sizes
  @include desktop() {
    min-height: 23.4375rem;
  }
}
.blogPageContent {
  .navigationMenu {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-areas:
      "side"
      "main"
      "main"
      "main"
      "pages";
    grid-gap: 1rem;
    @include desktop() {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "side main main main"
        "side main main main"
        "side main main main"
        "side main main main"
        "... pages pages pages";
      grid-gap: 2rem;
    }
    .filterPanel {
      grid-area: side;
      position: sticky;
      width: calc(100% + 2rem);
      transform: translateX(-1rem);
      padding: 0 1rem;
      top: 0;
      z-index: 2;
      background-color: #fff;
      padding-top: 6rem;
      box-shadow: 0 0.5rem 0.5rem -0.5rem #0000005b;

      @include desktop () {
        position: sticky;
        width: unset;
        transform: unset;
        padding: unset;
        z-index: 2;
        background-color: #fff;
        padding-top: 0;
        box-shadow: none;
      }

      .mobileCategoryToggle {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .chevron {
          @include desktop () {
            display: none;
          }
          height: 1rem;
          width: 1rem;
          margin-right: 1rem;
          border-color: $color-black;
          border-width: 0px 2px 2px 0px;
          border-style: solid;
          transform: translate(.5rem, -.25rem) rotate(45deg);
          &.flipped {
            transform: translate(.5rem, .25rem) rotate(225deg);
          }
        }
        legend {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          @include desktop () {
            align-items: unset;
            justify-content: unset;
            width: 100%;
          }
          padding: 0;
          margin: 0;
        }
        @include desktop() {
          pointer-events: none;
          .chevron {
            display: none;
          }
        }
      }
      & > label,
      fieldset {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 1.25em;
        padding-left: unset;
        padding-right: unset;
        border: unset;
        select {
          margin-top: 0.5rem;
        }
      }
      & > label {
        padding-top: 0;
      }
      & > fieldset {

        &.open {
          height: 14rem;
          border-bottom: 1px solid whitesmoke;
          @include desktop () {
            height: 25rem;
          }
        }
        @include desktop() {
          padding: initial;
          height: 25rem;
        }
        overflow-y: scroll;
        legend {
          @include desktop () {
            margin-bottom: 1rem;
          }
        }
        label {
          display: flex;
          // align-items: center;
          &:hover {
            cursor: pointer;
            color: $color-darkblue;
          }
          input {
            position: relative;
            top: 0.1rem;
            margin-right: 0.5rem;
          }
          input[type="radio"] {
            margin-block: unset;
            margin-left: unset;
          }
        }
      }
    }
    .contentList {
      grid-area: main;
      display: flex;
      justify-content: center;
      align-items: center;
      & > div {
        &:only-child {
          gap: 2rem;
        }
      }
    }
    .pagination {
      grid-area: pages;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .previousPageButton {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
          content: "";
          display: block;
          padding: 0.3rem;
          border-bottom: solid;
          border-left: solid;
          margin-left: 0.2rem;
          border-width: 0.1rem;
          border-color: $color-black;
          transform: rotate(45deg);
        }
        &:disabled {
          visibility: hidden;
        }
      }
      .nextPageButton {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
          content: "";
          display: block;
          padding: 0.3rem;
          border-right: solid;
          border-top: solid;
          margin-left: 0.2rem;
          border-width: 0.1rem;
          border-color: $color-black;
          transform: rotate(45deg);
        }
        &:disabled {
          visibility: hidden;
        }
      }
      .pageButton {
        padding: 0.5rem 1rem;
        &.selected {
          font-weight: 600;
          color: red;
        }
      }
    }
  }
}

.filterOpen {
  
}

.filterClosed {
  position: absolute;
  right: -9999999px;
  @include desktop () {
    position: relative;
    right: 0;
  }
}