@import "../../styles/settings/__settings";

.space-between-wrap {
  margin-top: toRem(15);
  li,
  div,
  p {
    display: flex;
    justify-content: space-between;
    margin-bottom: toRem(10);
    line-height: 1.3em;
  }
  li {
    span {
      padding-left: toRem(20);
    }
  }
}
.top-divider {
  margin-top: toRem(20);
  padding-top: toRem(15);
  border-top: toRem(1) solid $color-mediumgray;
}

.flex-liner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include desktop() {
    flex-direction: row;
  }
}

.table-headline-blue {
  @include section-headline($color-darkblue, $color-white);
}

.ml-20px {
  margin-left: toRem(20);
}
.review-wrap {
  padding-left: toRem(20);
  padding-right: toRem(20);
}
.review-title {
  font-size: $size-22px;
}
.text-400 {
  font-weight: 400;
}
.text-small {
  font-size: $size-13px;
}
.w-300px {
  max-width: toRem(300);
}
.mt-20px {
  margin-top: toRem(20);
}
