@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.logosList {
  padding: 4rem 0;
  img {
    max-width: max-content;
  }
  .heading {
    text-align: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    @include desktop() {
      justify-content: space-between;
      align-items: center;
      .list {
        justify-content: center;
      }
      .columnsLayout {
        display: flex;
        align-items: center;
        .list {
          flex-basis: 45%;
          margin-left: 1.5rem;
        }
      }
      .logosList {
        &:not(.columnsLayout) {
          .logo {
            img {
              max-width: 16rem;
            }
          }
        }
      }
    }
  }
  .textContent {
    flex-basis: 55%;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-wrap: break-word;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: unset;
    @include desktop() {
      min-height: 6.25rem;
    }
    padding: 1.25rem;
    a {
      &:hover {
        outline: 0.15rem solid $color-darkblue;
      }
    }
  }
  .link {
    border: unset;
    text-align: center;
    margin: 1rem 1rem 0 1rem;
    @include desktop() {
      margin: unset;
      white-space: nowrap;
    }
  }
}

// Border options
.borders,
.bordersPadding {
  .logo {
    border: 1px solid #e2e2e2;
    min-height: 10.25rem;
  }
  .list {
    justify-content: center;
  }
}
.bordersPadding {
  .logo {
    border-radius: 0.8rem;
    background-color: #fff;
  }
}
:global(.bg-paleblue).borders,
:global(.bg-gradient-blue-light).borders,
:global(.bg-paleblue).bordersPadding,
:global(.bg-gradient-blue-light).bordersPadding {
  .logo {
    border-color: #b5cae8;
  }
}
.bordersPadding.logosList {
  .list {
    gap: 1.5em;
  }
  .logo {
    @include mobile() {
      flex-basis: calc(50% - 1.5rem);
    }
    @include desktop() {
      flex-basis: calc(20% - 1.5rem);
    }
  }
}
