@import "../../styles/settings/__settings";

.card {
  padding: toRem(15) toRem(30);
  border: toRem(2) solid $color-darkmedium;
  border-radius: toRem(4);
  color: $color-navy;
  font-weight: bold;
  text-align: left;
  &:focus {
    border-color: $color-lightblue;
  }
}

.mb-20px {
  margin-bottom: toRem(20);
}
.input-card {
  display: block;
  position: relative;
  height: 100%;

  label {
    width: 100%;
    height: 100%;
    padding: toRem(20) toRem(20);
    color: $color-navy;
    cursor: pointer;
    border: toRem(2) solid $color-darkmedium;
    overflow: hidden;
    border-radius: toRem(8);
    padding-right: toRem(40);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: unset;
    p {
      font-size: 1rem;
      font-weight: 600;
    }

    .input-focus {
      position: absolute;
      border-radius: inherit;
      display: none;
      top: 0;
      left: 0;
      box-sizing: border-box;
      border: toRem(2) solid $color-darkmedium;
      width: 100%;
      height: 100%;
      outline: 0;
      &::after {
        width: toRem(24);
        height: toRem(24);
        content: "";
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: toRem(4) toRem(3);
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: toRem(15);
        top: 35%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      &:checked {
        & ~ .input-focus {
          display: block;
          border-color: $color-mediumblue;
          box-shadow: none;
          &::after {
            background-color: $color-green;
          }
        }
      }
      &:focus {
        & ~ .input-focus {
          display: block;
          @include outline();
          //box-shadow: 0 0 0 toRem(4) rgba(0, 125, 250, 0.6);
        }
      }
    }
  }
}
