@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  @include desktop() {
    flex-direction: row;
    align-items: flex-start;
  }
  .text {
    div {
      margin-top: 3rem;
    }
  }
  .card {
    flex: 0 0 35%;
    border-radius: 0.75rem;
    overflow: visible;
    margin: 3rem 0 6rem 0;
    @include shadow();
    .cardTop {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $color-navy;
      border-radius: 0.75rem 0.75rem 0 0;
      .cardTextWrapper {
        width: 100%;
        padding: 2.75rem 3rem 1.5rem 3rem;
      }
      .bar {
        position: absolute;
        top: -1rem;
        left: auto;
        width: 80%;
        padding: 0.7rem 1rem;
        line-height: 1;
        text-align: center;
        color: $color-white;
        background-color: $color-orange;
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 1rem;
      }
      .cardHeading {
        font-size: 1.8rem;
        font-weight: 400;
        color: rgb(2, 156, 253);
      }
      .price {
        font-size: 4.75rem;
        font-weight: 600;
        margin-top: 0.5rem;
      }
      .conditions {
        margin-top: 1.25rem;
        font-size: 0.97rem;
        font-weight: 400;
        font-style: italic;
      }
      .price,
      .conditions {
        color: white;
      }
      .cardHeading,
      .price,
      .conditions {
        line-height: 100%;
      }
    }
    .cardContent {
      padding: 0.25rem 3rem 0.75rem 3rem;
      ul {
        padding-left: 1rem;
        li {
          padding-left: 0.25rem;
          font-size: 0.95rem;
          &:not(:first-of-type) {
            margin-top: 0.35rem;
          }
        }
      }
      p {
        font-size: 1rem;
      }
    }
    @include desktop() {
      margin-right: 10rem;
      margin-bottom: 0;
    }
  }
}
