@import "../../../styles/settings/_mixins.scss";

.navbar {
  padding: 1.5rem 0 1.5rem 0;
  box-shadow: 0 0 10px 0px #00000014;
  nav {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    @include desktop() {
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.logo {
}

.menu {
  .menu-item {
  }
}
