@use "sass:math";
@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";
@import "../../../styles/settings/variables";

.searchContainer {
  position: absolute;
  top: .15rem;
  left: 0;
  width: 100%;
  @include desktop() {
    padding: unset;
    position: unset;
    top: unset;
    left: unset;
    width: unset;
  }

  .search {
    position: relative;
    padding-top: 0.5rem;
    @include desktop() {
      padding-top: unset;
    }

    .searchInputWrapper {
      position: relative;
      transition: opacity 0.25s;
      height: 100%;
      @include desktop() {
        width: 0;
        position: absolute;
        opacity: 0.1;
        left: -2147483647px;
        height: 100%;
        right: 2rem;
        // Only active on desktop
        &.searchActive {
          opacity: 1;
          left: 100%;
          .searchInput,
          .autocomplete {
            transform: translateX(-100%);
          }
        }
        .searchInput {
          max-width: 100vw;
          width: max-content;
          min-width: 20rem;
          box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 35%);
        }
      }

      .searchInput {
        position: relative;
        max-width: 100vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: calc(100% - 4rem) 2rem 2rem;
        position: relative;
        padding: 0 0.5rem;
        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 0.0625rem solid $color-darkgray;
          border-radius: 0.2rem;
          padding-right: 3.75rem;
        }
        & > * {
          padding: 1rem;
        }

        .clearInput {
          position: relative;
          height: 100%;
          width: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            content: "";
            position: absolute;
            width: 0.125rem;
            height: 1rem;
            transform: rotate(45deg);
            background-color: $color-gray;
            font-size: $size-3;
          }
          &::before {
            content: "";
            position: absolute;
            width: 0.125rem;
            height: 1rem;
            transform: rotate(-45deg);
            background-color: $color-gray;
            font-size: $size-3;
          }
          &:hover {
            &::after,
            &::before {
              background-color: $color-black;
            }
          }
        }
        .searchSubmit {
          position: relative;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;

          .magnifyingGlass {
            position: relative;
            display: inline-block;
            background: #fff;
            border-radius: 10rem;
            height: 1rem;
            min-width: 1rem;
            border: 0.2rem solid $color-darkgray;

            &:after {
              content: "";
              height: 0.2rem;
              width: 0.75rem;
              background: $color-darkgray;
              position: absolute;
              top: 0.75rem;
              left: 0.5rem;
              transform: rotate(45deg);
            }
            &:hover {
              border-color: $color-black;

              &::after {
                background-color: $color-black;
              }
            }
          }
          &.searchButtonHidden {
            visibility: hidden;
          }
        }
      }
      .autocomplete {
        position: relative;
        box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 35%);
        background-color: $color-white;
        padding: 0.75rem;
        max-height: 80vh;
        overflow-y: scroll;
        .autocompleteSource {
          margin-bottom: 1rem;
          .autocompleteSourceTitle {
            font-weight: 600;
            padding: 0.5rem;
            position: relative;
            color: $color-navy;
            p {
              border-bottom: 0.0625rem solid $color-gray;
            }
          }
          ul {
            padding-left: unset !important;
          }
          .autocompleteEntry {
            font-size: 1rem;
            padding: 0.5rem 1.5rem;
            border-bottom: 0.125rem solid $color-mediumgray;
            transition: background-color 0.25s ease-in-out;
            &:hover {
              background-color: $color-lightgray;
            }
            a {
              display: flex;
              flex-direction: column;
              gap: 0.25rem;
              .autocompleteEntryTitle {
                font-weight: 600;
                color: $color-black;
              }
            }
          }
        }
        @include desktop() {
          width: 30rem;
        }
      }
    }
    .searchButton {
      position: absolute;
      cursor: pointer;

      @include desktop() {
        position: relative;
        padding: 1rem;
      }

      .magnifyingGlass {
        display: none;
        @include desktop() {
          display: inline-block;
        }
        position: relative;
        background: #fff;
        border-radius: 10rem;
        height: 1rem;
        width: 1rem;
        border: 0.2rem solid $color-darkgray;

        &:after {
          content: "";
          height: 0.2rem;
          width: 0.75rem;
          background: $color-darkgray;
          position: absolute;
          top: 0.75rem;
          left: 0.5rem;
          transform: rotate(45deg);
        }
      }
      &.searchButtonHidden {
        visibility: hidden;
      }
    }
  }
}
