@import "../../../styles/settings/mixins";

.heroImage {
  width: 100%;
  padding: unset;
  height: 30vw;
  overflow: hidden;
  & > span {
    &:only-child {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: fill;
      // Have to override
      width: 100% !important;
      height: 100% !important;
      img {
        object-fit: cover;
      }
    }
  }
  @include desktop() {
    height: 100%;
    min-height: 21.25rem;
    overflow: hidden;
    position: relative;
    & > span {
      &:only-child {
        position: absolute !important;
        top: 0;
        left: 0;
        height: 100% !important;
        img {
          object-fit: cover;
          height: unset !important;
        }
      }
    }
    &.heroImageNarrowHeight {
      min-height: 12.5rem;
    }
  }
}
