.firstFold {
  .heading {
    margin-bottom: 2rem;
    max-width: 600px;
  }
  .textContent {
    margin: auto 0;
  }

  .primaryLink {
    margin-top: 2rem;
    margin-right: 1rem;
  }
  .secondaryLink {
    margin-top: 2rem;
  }
}
