.firstFold {
  .heading {
    margin-bottom: 2rem;
    max-width: 600px;
  }
  .textContent {
    margin: auto 0;
  }

  .primaryLink {
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 0.5em 2em;
    border-radius: 3em;
    border-width: 0.15em;
  }
  .secondaryLink {
    margin-top: 2rem;
    padding: 0.5em 2em;
    border-radius: 3em;
    border-width: 0.15em;
  }
}
