@import "../../../styles/settings/colors";
@import "../../../styles/settings/variables";
@import "../../../styles/settings/mixins";

// default firstFold styling
.firstFold {
  position: relative;
  // default firstFold layout
  .defaultLayout {
    display: flex;
    gap: 1.7rem;
    align-items: center;
    flex-direction: column;
    @include desktop() {
      flex-direction: row;
      &.imageLeft {
        flex-direction: row-reverse;
      }
    }
  }
  // styling configuration for the optionally toggled no image layout field
  .noImageLayout {
    padding: 2.5rem 0;
    .heading {
      max-width: unset;
      margin-bottom: unset;
    }
    .textContent {
      text-align: center;
      align-items: center;
    }
  }
  .circularImage {
    border-radius: 50%;
  }
  .heading {
    max-width: 37.5rem;
    margin-top: 1rem;
  }
  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    // Overflow fallback for Safari
    overflow: hidden;
    overflow: clip;
    &.textContentBasis30 {
      flex-basis: 30%;
    }
    &.textContentBasis40 {
      flex-basis: 40%;
    }
    &.textContentBasis50 {
      flex-basis: 50%;
    }
    &.textContentBasis60 {
      flex-basis: 60%;
    }
    &.textContentBasis70 {
      flex-basis: 70%;
    }
  }
  .text {
    margin-top: 1rem;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    max-height: inherit;
    margin-top: 1rem;
    // Overflow fallback for Safari
    overflow: hidden;
    overflow: clip;
    @include desktop() {
      margin-top: initial;
    }
    span {
      width: 100%;
      height: 100%;
      position: unset !important;
      img {
        height: unset !important;
        min-height: unset !important;
        margin: auto 0 0 0 !important;
        object-fit: contain;
      }
    }
  }
  .image,
  .imageLink {
    flex-grow: 1;
    &.mediaBasis30 {
      flex-basis: 30%;
    }
    &.mediaBasis40 {
      flex-basis: 40%;
    }
    &.mediaBasis50 {
      flex-basis: 50%;
    }
    &.mediaBasis60 {
      flex-basis: 60%;
    }
    &.mediaBasis70 {
      flex-basis: 70%;
    }
    &.mediaTop {
      justify-self: flex-start;
    }
    &.mediaBottom {
      justify-self: flex-end;
    }
    @include desktop() {
      &.defaultLayoutFixedHeight400 {
        max-height: 25rem;
      }
      &.defaultLayoutFixedHeight500 {
        max-height: 31.25rem;
      }
      &.defaultLayoutFixedHeight600 {
        max-height: 37.5rem;
      }
      &.defaultLayoutFixedHeight700 {
        max-height: 43.75em;
      }
      &.mediaTop {
        justify-self: unset;
        align-self: flex-start;
      }
      &.mediaBottom {
        justify-self: unset;
        align-self: flex-end;
      }
    }
  }
  .noImageLayout {
    .links {
      margin-top: toRem(20);
    }
  }

  .links {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
    @include desktop() {
      gap: 1.5rem;
      flex-direction: row;
    }
  }

  .primaryLink {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    padding: 0.5em 2em;
    border-radius: 3em;
    border-width: 0.15em;
  }
  .secondaryLink {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    padding: 0.5em 2em;
    border-radius: 3em;
    border-width: 0.15em;
  }
  .imageLink {
    display: block;
  }
  // resets for large screen sizes
  @include desktop() {
    .textContent {
      text-align: unset;
      align-items: flex-start;
    }
    .primaryLink,
    .secondaryLink {
    }
  }
}

// alternate layout: image as a background image, text content centered
.firstFoldAlternate {
  width: 100vw;
  padding: unset;
  height: 100%;
  min-height: 18.75rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .backgroundImage {
    & > * {
      display: block !important;
      height: 100% !important;
    }
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      max-height: unset !important;
      min-height: unset !important;
      height: 100% !important;
    }
  }
  // unique styling to customer story first folds (toggled on in agility)
  .customerStoryTextContent {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 1.5rem;
    margin-bottom: 8em;
    transform: translate(-50%, 70%);
    padding: 2.5rem 2rem 3rem 2rem;
    box-shadow: 0.25rem 0.25rem 1.25rem hsla(0, 0%, 49.8%, 0.15);
    background-color: $color-white;
    text-align: center;
    z-index: 1;
    .heading {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: $size-2;
        font-weight: 400;
        color: $color-skyblue;
      }
    }
    .text {
      font-size: $size-3;
      max-width: $tablet;
      margin: 0 auto;
    }
    // resets for large screen sizes
    @include desktop() {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 15%);
      padding: 2.5rem 2rem 3rem 2rem;
      .heading {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: $size-3;
        }
      }
      .text {
        font-size: $size-3;
      }
    }
  }
  .textContent {
    position: absolute;
    text-align: center;
    color: $color-white;
    .heading {
      text-align: center;
    }
    .text {
      font-size: 1.25rem;
    }
    .primaryLink,
    .secondaryLink {
      background-color: $color-white;
      color: $color-navy;
      border: unset;
    }
  }

  // resets for large screen sizes
  @include desktop() {
    .backgroundImage {
      & > * {
        display: block !important;
        height: 100%;
      }
    }
    .textContent {
      .text {
        font-size: 1.5rem;
      }
    }
    .primaryLink {
      margin-top: 2rem;
      margin-right: 1rem;
    }
  }
}

// alternate layout: image as a background image, text content centered
.softwareIntegration {
  width: 100vw;
  padding: unset;
  height: 100%;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-mediumblue;
  .softwareIntegrationContent {
    position: relative;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    display: flex;
    background-color: $color-white;
    // image column
    & > * {
      &:first-child {
        border-bottom: unset;
      }
      flex-basis: 100%;
      padding-bottom: 2rem;
      @include desktop() {
        border-bottom: 0.1rem solid $color-gray;
      }
    }
  }

  // resets for large screen sizes
  @include desktop() {
    padding: 2rem 0 0 0;
    .softwareIntegrationContent {
      flex-direction: row;
      padding: 2rem 3rem 0 3rem;
      text-align: left;
      & > * {
        &:first-child {
          flex-basis: 30%;
          padding-right: 2rem;
          border-bottom: 0.1rem solid $color-gray;
        }
        flex-basis: 100%;
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid $color-gray;
      }
    }
  }
}

.testimonial {
  @include shadow();
  position: relative;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  max-width: 32ch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include desktop() {
    padding: 1.5rem 2rem;
  }
  &.testimonialComment {
    .testimonialIcon {
      position: absolute;
      padding: 1rem;
      max-width: 5rem;
      max-height: 5rem;
      background-color: $color-darkblue;
      border-radius: 50%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  p {
    margin: 1rem 0 2rem 0;
    font-style: italic;
    font-size: 1.2rem;
  }
  .testimonialDetails {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    p {
      margin: 0.5rem 0;
      font-size: 1rem;
    }
    .testimonialImage {
      padding: 1rem;
      max-width: 7.8125rem;
      max-height: 7.8125rem;
      overflow: hidden;
      & > span {
        &:only-child {
          border-radius: 50%;
        }
      }
    }
  }
}

.logoGridColumns {
  justify-content: space-between;
  .logoGridColumn {
    flex: 0 0 50%;
    padding: 1.75rem;
    height: 7.5rem;
    > span {
      height: 100% !important;
      img {
        object-fit: contain;
      }
    }
    @include desktop() {
      padding: 0.5rem;
    }
  }
}
