@use "sass:math";
@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";
@import "../../../styles/settings/variables";

.navbarSecondary {
  display: none;
  @include desktop() {
    height: $navbar-secondary-height;
    justify-content: flex-end !important;
    * {
      font-size: toRem(14);
    }
    a {
      display: block;
      /* padding: 0.5rem 0; */
      margin-top: toRem(10);
      position: relative;
      z-index: 1;
      &:hover {
        color: $color-darkblue;
        .sublist {
          display: block;
        }
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.hasSublist::after {
  font-family: "arrow-down";
  content: "\e900";
  font-size: 0.3rem;
  padding: 0 0 0 1em;
  transform: translateY(-0.3em);
  color: #999;
  display: inline-block;
}

.sublist {
  display: none;
  position: absolute;
  top: 0.9rem;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 1rem 0.125rem rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border: 0.1rem solid #e5e5e5;
  padding: 0.5rem 1.7rem 1.5rem 1.7rem;
  width: 15em;
  &::after {
    content: "";
    position: absolute;
    top: -1em;
    width: 5em;
    height: 2em;
    right: 0;
  }
  &::before {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: #e5e5e5;
    content: "";
    transform: rotate(45deg);
    top: -0.5rem;
    right: 1rem;
    z-index: -5;
  }
  li {
    display: block;
  }
  a {
    color: rgb(0, 8, 67);
    &:hover {
      color: $color-darkblue;
    }
  }
}