@import "../../../styles/settings/_mixins.scss";
@import "../../../styles/settings/_colors.scss";

.message {
  color: white;
  padding: 0.5rem 0 0.5rem 0;
  background: $color-navy;
}

.messageContainer {
  display: flex;
}
