@import "../../../styles/settings/colors";
@import "../../../styles/settings/mixins";

.cardGrid {
    display: flex;
    $card-gap: 1rem;
    gap: $card-gap;
    flex-wrap: wrap;
    justify-content: center;
    > div {
        flex-basis: 100%;
    }
    @include desktop() {
        .flexBasis1 {
            flex-basis: 100%;
        }
        .flexBasis2 {
            flex-basis: calc(50% - ($card-gap / 2));
        }
        .flexBasis3 {
            flex-basis: calc(calc(33%) - (($card-gap * 2) / 3));
        }
        .flexBasis4 {
            flex-basis: calc(25% - (($card-gap * 3) / 4));
        }
    }
    .linkCard {
        @supports #{'\selector(*:focus-visible)'} {
            &:not(:focus-visible) {
                .card {
                    outline: none !important;
                }
            }
            &:focus-visible {
                outline: none !important;
                .card {
                @include outline();
                }
            }
        }
        @supports #{'\not selector(*:focus-visible)'} {
            &:focus {
                outline: none !important;
                .card {
                @include outline();
                }
            }
        }
        @media (any-pointer: coarse) {
            &:hover {
                outline: none !important;
                .card {
                @include outline();
                }
            }
        }
    }
    .cardWrapper {
        height: 100%;
        flex-basis: 100%;
        @include desktop() {
            flex-grow: 0;
            flex-shrink: 0;
        }
        .card {
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            @include shadow();
            .textContent {
                padding: 2rem;
                .titleArea {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    gap: .75rem;
                    .title {
                        text-align: center;
                        font-size: 1.75rem;
                        justify-self: center;
                        &:not(:only-child) {
                            flex-basis: 60%;
                        }
                    }
                    .iconWrapper {
                        flex-grow: 1;
                        flex-basis: 40%;
                        > span {
                            height: 100% !important;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}
