@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.clientTestimonial {
  padding: 5rem 0;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .slim {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .awardImage {
        max-width: 200px;
        margin-right: 3.5rem;
        img {
          width: unset !important;
          height: unset !important;
          position: unset !important;
        }
      }
      .textContent {
        &:nth-child(2) {
          color: $color-black;
          max-width: 516px;
          text-align: left;
          .rating {
            img {
              margin: 0 0.25rem;
            }
          }
          .quote {
            font-weight: 400;
            font-size: 1.25rem;
            padding: 0.75rem 0 2rem 0;
          }
          .client {
            position: relative;
            font-size: 1rem;
            line-height: 1.2;
            margin-left: 1rem;
            &::before {
              content: "- ";
              display: block;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-1rem, -50%);
            }
          }
        }
        .quote {
          font-weight: 400;
          font-size: 1.5rem;
          padding: 0.75rem 0 2rem 0;
        }
        .client {
          font-size: 1rem;
          line-height: 1.2;
        }
      }
    }
    .normal {
      display: flex;
      max-width: 920px;
      justify-content: center;
      align-items: center;
      text-align: center;
      .awardImage {
        max-width: 250px;
        margin-right: 3.5rem;
        img {
          height: unset !important;
          position: unset !important;
        }
      }
      .textContent {
        &:nth-child(2) {
          color: $color-black;
          max-width: 516px;
          text-align: left;
          .rating {
            img {
              margin: 0 0.25rem;
            }
          }
          .quote {
            padding: 0.75rem 0 2rem 0;
          }
          .client {
            position: relative;
            line-height: 1.2;
            margin-left: 1rem;
            &::before {
              content: "- ";
              display: block;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-1rem, -50%);
            }
          }
        }
        .quote {
          font-weight: 600;
          font-size: 1.85rem;
          line-height: 1.2;
          padding: 0.75rem 0 2rem 0;
        }
        .client {
          font-size: 1.85rem;
          line-height: 1.2;
          .jobTitle {
            font-style: italic;
          }
        }
      }
    }
  }
  .logo {
    margin-top: 2rem;
  }
  .link {
    border: unset;
    text-align: center;
    padding: 0.45rem 2rem;
    margin: 3rem 0 1rem;
    font-size: 0.9rem;
  }
}
