@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.customerStoryCards {
  .heading {
    margin: unset;
  }
  .content {
    text-align: center;
    .cards {
      text-align: left;
      gap: 2rem;
    }
  }

  .loadMoreButton {
    margin: 3em auto 0 auto;
    display: block;
    cursor: pointer;
    font-family: "GalanoGrotesque", sans-serif;
    font-size: 0.95rem;
  }
}
