@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.testimonialList {
  margin-top: 5rem;
  padding-bottom: 0;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mediaWrapper {
      position: relative;
      .media {
        position: relative;
        width: 100%;
        min-width: 85vw;
        border-radius: 50%;
        border: 0.25rem solid $color-skyblue;
        div {
          &:only-child {
            border-radius: 50%;
            overflow: hidden;
            border: 0.25rem solid $color-white;
          }
        }
      }
    }

    .staticImageLayoutTextContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 1rem 0 1.5rem 0;
      }
      p {
        font-size: 1rem;
      }
      small {
        margin-top: 1rem;
        font-size: 1rem;
        font-style: italic;
      }
    }

    .staticImageLayoutControls {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 7.8125rem;
      .dots {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        button {
          width: 0.75rem;
          height: 0.75rem;
          margin: 0 0.25rem;
          border: solid 0.185rem $color-navy;
          border-radius: 50%;
          &.activeDot {
            background-color: $color-navy;
          }
        }
      }
      .button {
        position: relative;
        padding: 1rem;
        background-color: $color-darkmedium;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
          content: "";
          position: absolute;
          display: block;
          padding: 0.35rem;
          border-top: 0.2rem solid $color-white;
          border-right: 0.2rem solid $color-white;
          transform: translateX(-0.15rem) rotate(45deg);
        }
      }
    }

    .textContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: 28.125rem;
      p {
        &:first-child {
          color: $color-black;
          font-size: 1.25rem;
          margin-bottom: 2rem;
          padding-top: 1rem;
        }
        color: $color-mediumblue;
        font-size: 1.5rem;
      }
    }
    .controls {
      margin-top: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 7.8125rem;
      margin: 1rem auto;
      .button {
        position: relative;
        padding: 1.25rem;
        border: 0.2rem solid $color-mediumblue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
          &::before {
            content: "";
            position: absolute;
            display: block;
            padding: 0.5rem;
            border-bottom: 0.2rem solid $color-mediumblue;
            border-left: 0.2rem solid $color-mediumblue;
            transform: rotate(45deg);
          }
          &:after {
            display: none;
          }
        }
        &::after {
          content: "";
          position: absolute;
          display: block;
          padding: 0.5rem;
          border-top: 0.2rem solid $color-mediumblue;
          border-right: 0.2rem solid $color-mediumblue;
          transform: rotate(45deg);
        }
      }
    }
  }

  @include desktop() {
    .mediaWrapper {
      .media {
        top: -6rem;
        min-width: unset;
        border: 0.65rem solid $color-skyblue;
        div {
          &:only-child {
            border: 0.65rem solid $color-white;
          }
        }
      }
    }
    .content {
      flex-direction: row;
      & > * {
        flex-basis: 100%;
      }
      .mediaWrapper {
        .media {
          top: -6rem;
          min-width: unset;
          border: 0.65rem solid $color-skyblue;
          div {
            &:only-child {
              display: block !important;
              border: 0.65rem solid $color-white;
            }
          }
        }
      }

      .textContent,
      .staticImageLayoutTextContent {
        margin: 3rem 0 auto 2rem;
        min-height: 25rem;
        max-height: 25rem;
        align-items: flex-start;
        text-align: left;
        p {
          &:first-child {
            padding-top: unset;
          }
        }
      }
      .controls {
        margin: unset;
      }
      .staticImageLayoutControls {
        margin: 3rem 0 auto 2rem;
        align-items: flex-start;
      }
    }
  }
}
