@import "../../../styles/settings/mixins";
@import "../../../styles/settings/colors";

.testimonialList {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .mediaWrapper {
      position: relative;
      .media {
        position: relative;
        width: 90%;
        max-width: 18.75rem;
        border-radius: 50%;
        border: 0.25rem solid $color-skyblue;
        & > img {
          border-radius: 50%;
          border: 0.25rem solid $color-white;
        }
      }
      @include desktop() {
        max-height: 27.5rem;
        .media {
          max-width: unset;
          min-width: unset;
          border: 0.65rem solid $color-skyblue;
          img {
            border: 0.65rem solid $color-white;
          }
        }
      }
    }

    .textContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      p {
        &:first-child {
          color: $color-black;
          font-size: 1.25rem;
          margin-bottom: 2rem;
          padding-top: 1rem;
        }
        color: $color-mediumblue;
        font-size: 1.5rem;
      }
    }
    .controls {
      margin-top: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 7.8125rem;
      margin: 1rem auto;
      .button {
        position: relative;
        padding: 1.25rem;
        border: 0.2rem solid $color-mediumblue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
          &::before {
            content: "";
            position: absolute;
            display: block;
            padding: 0.5rem;
            border-bottom: 0.2rem solid $color-mediumblue;
            border-left: 0.2rem solid $color-mediumblue;
            transform: rotate(45deg);
          }
          &:after {
            display: none;
          }
        }
        &::after {
          content: "";
          position: absolute;
          display: block;
          padding: 0.5rem;
          border-top: 0.2rem solid $color-mediumblue;
          border-right: 0.2rem solid $color-mediumblue;
          transform: rotate(45deg);
        }
      }
    }
    @include desktop() {
      flex-direction: row;
      & > * {
        flex-basis: 100%;
      }
      .mediaWrapper {
        .media {
          min-width: unset;
          width: 90%;
          border: 0.65rem solid $color-skyblue;
          div {
            &:only-child {
              display: block !important;
              border: 0.65rem solid $color-white;
            }
          }
        }
      }

      .textContent {
        margin: 3rem 0 auto 2rem;
        align-items: flex-start;
        text-align: left;
        p {
          &:first-child {
            padding-top: unset;
          }
        }
      }

      .controls {
        margin: 3rem 0 auto 2rem;
      }
    }
  }

  .staticImageLayoutContent {
    display: grid;
    grid-template-columns: 1fr;
    & > img {
      object-fit: contain;
    }

    .staticImageLayoutTextContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 2rem;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 1rem 0 1.5rem 0;
      }
      p {
        font-size: 1rem;
      }
      small {
        margin-top: 1rem;
        font-size: 1rem;
        font-style: italic;
      }
    }
    .staticImageLayoutControls {
      margin: 1rem auto 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 7.8125rem;
      .dots {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        list-style-type: none;
        padding: unset;
        button {
          width: 0.75rem;
          height: 0.75rem;
          margin: 0 0.25rem;
          border: solid 0.185rem $color-navy;
          border-radius: 50%;
          &.activeDot {
            background-color: $color-navy;
          }
        }
      }
      .button {
        position: relative;
        padding: 1rem;
        background-color: $color-darkmedium;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
          content: "";
          position: absolute;
          display: block;
          padding: 0.35rem;
          border-top: 0.2rem solid $color-white;
          border-right: 0.2rem solid $color-white;
          transform: translateX(-0.15rem) rotate(45deg);
        }
      }
    }
    @include desktop() {
      gap: 4rem;
      grid-template-columns: repeat(2, 1fr);
      .staticImageLayoutTextContent {
        align-items: flex-start;
        text-align: left;
        min-height: 23rem;
        max-height: 23rem;
        p {
          &:first-child {
            padding-top: unset;
          }
        }
      }
      .staticImageLayoutControls {
        margin: 0 0 auto 0;
        align-items: flex-start;
      }
    }
  }

  #testimonialGrid {
    display: grid;
    grid-gap: 3.5rem;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    .gridItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem;
      border-radius: 1rem;
      background-color: white;
      box-shadow: 0 0 0.5rem 0.25rem rgb(0 0 0 / 12%);
      .gridItemLogoPlaceholder,
      .gridItemLogoContainer {
        height: 7rem;
        width: 100%;
      }
      .gridItemLogoContainer {
        position: relative;
        margin-bottom: 0.5rem;
        .gridItemLogo {
          object-fit: contain;
          height: 100% !important;
        }
      }
      .gridItemText {
        text-align: center;
        line-height: 140%;
        margin-top: 0.25rem;
      }
      .gridItemName {
        padding-top: 1.5rem;
        margin-top: auto;
        text-align: center;
      }
      .gridItemText,
      .gridItemName {
        font-size: 1.25rem;
      }
    }
    @include desktop() {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &.translateSliderControls {
    // translate the slider controls a bit
    // important here is that the wrapper tag for the slider controls is "aside"

    aside {
      align-items: center;
      div {
        button {
          &:first-of-type {
            margin-right: 1.5rem;
          }
        }
      }
      @include desktop() {
        align-items: center;
        margin-top: unset;
        div {
          // transform: translate(70%, -50%);
          button {
            &:first-of-type {
              margin-right: 1.5rem;
            }
          }
        }
      }
    }
    .staticImageLayoutContent {
      aside {
        margin: 0 auto;
        width: max-content;
        align-items: center;
        div {
          button {
            width: 0.75rem !important;
            height: 0.75rem !important;
            margin: 0 0.25rem !important;
            border: unset !important;
            padding: 1rem !important;
            background-color: $color-darkmedium !important;
            border-radius: 50% !important;
            &::after {
              content: "" !important;
              position: absolute !important;
              display: block !important;
              padding: 0.35rem !important;
              border-top: 0.2rem solid #fff !important;
              border-right: 0.2rem solid #fff !important;
              transform: translateX(-0.15rem) rotate(45deg) !important;
            }
            &:first-of-type {
              display: none !important;
            }
          }
        }
        @include desktop() {
          position: relative;
          transform: unset;
          margin: unset;
        }
      }
    }
  }
}
