@import "../../styles/settings/colors";

.breadcrumbs {
    display: flex;
    gap: .75rem;
    margin-bottom: 1rem;
    div {
        p {
            display: inline;
            font-size: .8rem;
            text-transform: uppercase;
        }
        a {
            color: $color-lightblue;
        }
        .separator {
            margin-left: .75rem;
        }
    }
}
