@import "../../styles/settings/colors";
@import "../../styles/settings/mixins";

.section {
  display: none;
  @include desktop() {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: block;
  }
}

.breadcrumbs {
  display: flex;
  div {
    p {
      display: inline;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
    a {
      color: $color-lightblue;
    }
    .separator {
      margin-left: 0.75rem;
    }
    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}
