@import "./settings/__settings";

/*
  <<<<<<<<<<<<<<<<FLEX LAYOUT CLASSES>>>>>>>>>>>>>>>>>
*/
.grid {
  display: flex;
  @include desktop() {
    width: 100%;
    flex-direction: column;
    justify-content: stretch;
  }
  .row {
    width: 100%;
    @include desktop() {
      display: flex;
      flex-wrap: wrap;
      .inner {
        height: 100%;
      }
    }
  }
  .align-center {
    .col {
      align-items: center;
      justify-content: center;
    }
    .row {
      justify-content: center;
    }
  }

  .col {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
    @include desktop() {
      padding: 8px;
    }
    &.col-2 {
      flex: 0 0 auto;
      @include desktop() {
        width: 50%;
      }
    }
    &.col-3 {
      flex: 0 0 auto;
      @include desktop() {
        width: 33.3333333333%;
      }
    }
    &.col-4 {
      flex: 0 0 auto;
      width: 100%;
      @include largeDesktop() {
        width: 25%;
      }
    }
  }
}

.row-desktop {
  display: flex;
  flex-flow: column;

  @include desktop() {
    flex-flow: row;
  }
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

// only apply on touch screen widths.
.flex-direction-column-touch {
  @include touch() {
    flex-direction: column;
  }
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

/*
  <<<<<<<<<<<<<<<<GRID LAYOUT CLASSES>>>>>>>>>>>>>>>>>
*/
.columns {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  &.auto {
    // Auto fit to container if no repet has been specified
    grid-template-columns: auto auto auto auto;
  }

  @include desktop() {
    &.repeat-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.repeat-1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &.repeat-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.repeat-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &.repeat-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &.repeat-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

// use for tile layouts i.e. logosList
.grid-columns {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  .grid-column {
    position: relative;
    padding: 0.75rem;
    flex: 0 0 20vh;
    > * {
      width: 100%;
    }
    @include tablet() {
      // default is six columns
      flex: 0 0 calc(16.6667% - 0.5rem);
      &.is-2 {
        flex: 0 0 calc(50% - 0.5rem);
      }
      &.is-3 {
        flex: 0 0 calc(33.3333% - 0.5rem);
      }
      &.is-4 {
        flex: 0 0 calc(25% - 0.5rem);
      }
      &.is-5 {
        flex: 0 0 calc(20% - 0.5rem);
      }
      &.is-7 {
        flex: 0 0 calc(14.2857% - 0.5rem);
      }
    }
  }
}

/*
  <<<<<<<<<<<<<<<<GENERIC HELPER CLASSES>>>>>>>>>>>>>>>>>
*/
.bold {
  font-weight: bold;
}

.wrap {
  @include siteWidth();
  margin: 0 auto;
}

.card {
  padding: 15px 15px;
  border: 2px solid $color-darkmedium;
  border-radius: 4px;
}

.border-radius-1 {
  border-radius: 1rem;
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.border-gray {
  border: 2px solid $color-gray;
}

.box-shadow {
  box-shadow: 0 1px 4px rgb(0, 0, 0, 10%);
}

.card-shadow {
  @include shadow();
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.clear-left {
  clear: left;
}

.is-hidden {
  visibility: hidden;
  height: 0;
}

.transparentized-navbar-transform {
  padding: 2rem 0 0 0 !important;
  @include desktop() {
    padding: unset !important;
    position: relative;
    padding-top: $navbar-height !important;
    top: -$navbar-height;
  }
}

/*
  <<<<<<<<<<<<<<<<DISPLAY HELPER CLASSES>>>>>>>>>>>>>>>>>
*/
.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*
  <<<<<<<<<<<<<<<<SPACING HELPER CLASSES>>>>>>>>>>>>>>>>>
*/
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include desktop() {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.container {
  @include siteWidth();
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-wrap: break-word;
}
