@import "./settings/__settings";

/*
  <<<<<<<<<<<<<<<<FLEX LAYOUT CLASSES>>>>>>>>>>>>>>>>>
*/
.grid {
  display: flex;
  @include desktop() {
    width: 100%;
    flex-direction: column;
    justify-content: stretch;
  }
  .row {
    width: 100%;
    @include desktop() {
      display: flex;
      flex-wrap: wrap;
      .inner {
        height: 100%;
      }
    }
  }
  .align-center {
    .col {
      align-items: center;
      justify-content: center;
    }
    .row {
      justify-content: center;
    }
  }

  .col {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
    @include desktop() {
      padding: 8px;
    }
    &.col-2 {
      flex: 0 0 auto;
      @include desktop() {
        width: 50%;
      }
    }
    &.col-3 {
      flex: 0 0 auto;
      @include desktop() {
        width: 33.3333333333%;
      }
    }
    &.col-4 {
      flex: 0 0 auto;
      width: 100%;
      @include largeDesktop() {
        width: 25%;
      }
    }
  }
}

.row-desktop {
  display: flex;
  flex-flow: column;

  @include desktop() {
    flex-flow: row;
  }
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

// only apply on touch screen widths.
.flex-direction-column-touch {
  @include touch() {
    flex-direction: column;
  }
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

/*
  <<<<<<<<<<<<<<<<GRID LAYOUT CLASSES>>>>>>>>>>>>>>>>>
*/
.columns {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  &.auto {
    // Auto fit to container if no repet has been specified
    grid-template-columns: auto auto auto auto;
  }

  @include desktop() {

    &.repeat-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.repeat-1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &.repeat-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.repeat-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &.repeat-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &.repeat-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

.grid-columns {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(max(100px, 100% / 6), 1fr));
  .grid-column {
    position: relative;
    padding: 0 10%;
    > * {
      width: 100%;
    }
  }
  &.is-2 {
    grid-template-columns: repeat(auto-fill, minmax(max(150px, 100% / 2), 1fr));
  }
  &.is-3 {
    grid-template-columns: repeat(auto-fill, minmax(max(140px, 100% / 3), 1fr));
  }
  &.is-4 {
    grid-template-columns: repeat(auto-fill, minmax(max(130px, 100% / 4), 1fr));
  }
  &.is-5 {
    grid-template-columns: repeat(auto-fill, minmax(max(120px, 100% / 5), 1fr));
  }
}

/*
  <<<<<<<<<<<<<<<<GENERIC HELPER CLASSES>>>>>>>>>>>>>>>>>
*/
.bold {
  font-weight: bold;
}

.wrap {
  @include siteWidth();
  margin: 0 auto;
}

.card {
  padding: 15px 15px;
  border: 2px solid $color-darkmedium;
  border-radius: 4px;
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.border-gray {
  border: 2px solid $color-gray;
}

.box-shadow {
  box-shadow: 0 1px 4px rgb(0, 0, 0, 10%);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.clear-left {
  clear: left;
}

/*
  <<<<<<<<<<<<<<<<DISPLAY HELPER CLASSES>>>>>>>>>>>>>>>>>
*/
.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*
  <<<<<<<<<<<<<<<<SPACING HELPER CLASSES>>>>>>>>>>>>>>>>>
*/
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include desktop() {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.container {
  @include siteWidth();
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-wrap: break-word;
}

.mt-1 {
  margin-top: $size-1;
}
.mt-2 {
  margin-top: $size-2;
}
.mt-3 {
  margin-top: $size-3;
}
.mt-4 {
  margin-top: $size-4;
}
.mt-5 {
  margin-top: $size-5;
}
.mt-6 {
  margin-top: $size-6;
}

.mb-1 {
  margin-bottom: $size-1;
}
.mb-2 {
  margin-bottom: $size-2;
}
.mb-3 {
  margin-bottom: $size-3;
}
.mb-4 {
  margin-bottom: $size-4;
}
.mb-5 {
  margin-bottom: $size-5;
}
.mb-6 {
  margin-bottom: $size-6;
}

.ml-1 {
  margin-left: $size-1;
}
.ml-2 {
  margin-left: $size-2;
}
.ml-3 {
  margin-left: $size-3;
}
.ml-4 {
  margin-left: $size-4;
}
.ml-5 {
  margin-left: $size-5;
}
.ml-6 {
  margin-left: $size-6;
}

.mr-1 {
  margin-right: $size-1;
}
.mr-2 {
  margin-right: $size-2;
}
.mr-3 {
  margin-right: $size-3;
}
.mr-4 {
  margin-right: $size-4;
}
.mr-5 {
  margin-right: $size-5;
}
.mr-6 {
  margin-right: $size-6;
}

// margin-block: selects both margin-top and margin-bottom
.margin-block-1 {
  margin-block: $size-1;
}
.margin-block-2 {
  margin-block: $size-2;
}
.margin-block-3 {
  margin-block: $size-3;
}
.margin-block-4 {
  margin-block: $size-4;
}
.margin-block-5 {
  margin-block: $size-5;
}
.margin-block-6 {
  margin-block: $size-6;
}

.margin-unset {
  margin: unset !important;
}
// padding-block: selects both padding-top and padding-bottom
.padding-block-1 {
  padding-block: $size-1;
}
.padding-block-2 {
  padding-block: $size-2;
}
.padding-block-3 {
  padding-block: $size-3;
}
.padding-block-4 {
  padding-block: $size-4;
}
.padding-block-5 {
  padding-block: $size-5;
}
.padding-block-6 {
  padding-block: $size-6;
}

.padding-unset {
  padding: unset !important;
}

/*
  <<<<<<<<<<<<<<<<WIDTH HELPER CLASSES>>>>>>>>>>>>>>>>>
*/
.width-100 {
  width: 100%;
}

.max-width-narrow {
  max-width: $narrow;
}

.max-width-tablet {
  max-width: $tablet;
}

.max-width-medium {
  max-width: $medium;
}

.max-width-wide {
  max-width: $wide;
}

.max-width-unset {
  max-width: unset;
}
