// Just bulk import all settings
// TODO: if the bundle gets too big split to modules
// TODO: remove all !important decl.

@import "./settings/__settings";
@import "layout";
@import "typography";
@import "./components/_components-dir";

/* Try not to set anything on html for best accessibility */
// html {
// }

* {
  box-sizing: border-box;
}

main {
  padding-top: $navbar-height;

  @include desktop() {
    padding-top: unset;
  }
}

// This has to be important to override marketo
.mktoForm, .mktoFormRow, .mktoFieldDescriptor, .mktoFormCol, .mktoField, .mktoLabel, .mktoHasWidth {
  width: 100% !important;
}
