.mktoAsterix {
  color: $color-red;
  margin-right: 0.5rem;
}

.mktoField,
.mktoLabel,
.mktoButtonRow {
  width: 100% !important;
}

.mktoError {
  font-size: 0.75rem;
}

.mktoButtonWrap,
.mktoDownloadButton {
  margin: 0 !important;
}

#mktoForm_1024 {
  margin-top: 1.5rem;
  .mktoButton {
    margin-top: 1.5rem;
    width: 100% !important;
  }
}
