@import "./settings/mixins";
@import "./settings/colors";
.mktoAsterix {
  color: $color-red;
  margin-right: 0.5rem;
}

.mktoField,
.mktoLabel,
.mktoButtonRow {
  width: 100% !important;
}

.mktoError {
  font-size: 0.75rem;
  margin-top: 0.25rem !important;
  left: 0;
  bottom: 0;
  position: relative;
}

.mktoFormRow {
  input {
    &:not(:focus) {
      & + .mktoError {
        display: none !important;
      }
    }
  }
}

.mktoErrorMsg {
  z-index: 124124;
  position: absolute;
  background: $color-lightblue;
  color: $color-white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: inline-table;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 0 solid transparent;
    border-top: 0.5rem solid transparent;
    border-left: 1rem solid $color-lightblue;
    position: absolute;
    left: 0;
    top: -0.25rem;
  }
}

.mktoButtonWrap,
.mktoDownloadButton {
  margin: 0 !important;
}

// Basic resource form
[id^="mktoForm_"] {
  .mktoLabel {
  }
  .mktoError {
    color: $color-white;
  }
  .mktoErrorMsg {
    z-index: unset;
  }
  .mktoInstruction {
    display: none;
  }
  button {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1.5rem;
    padding: toRem(15) toRem(30);
    color: $color-white;
    border-color: $color-orange;
    background-color: $color-orange;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $color-darkpurple;
    }
  }

  margin-top: 1rem;
  & > * {
    @include desktop() {
      max-width: 26.25rem;
      margin: 0 auto;
    }
  }
  input,
  select {
    font-size: 1rem;
    background-color: $color-white;
    width: 100%;
    min-height: 2.6875rem;
    padding: 0.75rem 1rem;
    margin: 0.25rem 0;
    box-sizing: border-box;
    border: toRem(1) solid $color-navy !important;
    border-radius: 0.2rem !important;
  }
}
