@import "./settings/mixins";
@use "./settings/variables" as var;
/*
Configure font sizes and how text is rendred.
Try to use only html element selectors and override with classes when needed. 
*/

body {
  font-family: GalanoGrotesque, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $color-black;
}

a,
button,
li {
  @include focus-visible-outline();
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a,
button {
  @include touch-focus-outline();
}

p {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
  white-space: pre-wrap;
}

h1,
.heading-1,
.heading-1 h1,
.heading-1 h2,
.heading-1 h3,
.heading-1 h4,
.heading-1 h5,
.heading-1 h6 {
  font-size: 3rem;
  @include desktop() {
    font-size: 4rem;
  }
}

h2,
.heading-2,
.heading-2 h1,
.heading-2 h2,
.heading-2 h3,
.heading-2 h4,
.heading-2 h5,
.heading-2 h6 {
  font-size: 2.5rem;
  @include desktop() {
    font-size: 3.5rem;
  }
}
h3,
.heading-3,
.heading-3 h1,
.heading-3 h2,
.heading-3 h3,
.heading-3 h4,
.heading-3 h5,
.heading-3 h6 {
  font-size: 2rem;
  @include desktop() {
    font-size: 3rem;
  }
}
h4,
.heading-4,
.heading-4 h1,
.heading-4 h2,
.heading-4 h3,
.heading-4 h4,
.heading-4 h5,
.heading-4 h6 {
  font-size: 1.5rem;
  @include desktop() {
    font-size: 2.5rem;
  }
}

h5,
.heading-5,
.heading-5 h1,
.heading-5 h2,
.heading-5 h3,
.heading-5 h4,
.heading-5 h5,
.heading-5 h6 {
  font-size: 1.5rem;
  @include desktop() {
    font-size: 2rem;
  }
}

h6,
.heading-6,
.heading-6 h1,
.heading-6 h2,
.heading-6 h3,
.heading-6 h4,
.heading-6 h5,
.heading-6 h6 {
  font-size: 1.5rem;
  @include desktop() {
    font-size: 1.5rem;
  }
}

.text-76px {
  font-size: toRem(76);
}

strong,
b {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

form input:not([type="checkbox"], [type="submit"]),
select {
  background: $color-white;
  color: $color-black;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 0.1rem solid $color-navy;
}

label {
  display: block;
  color: $color-black;
  font-size: 1rem;
  // TODO: Do we have font weight 500 available? 600 is too bold here.
  font-weight: 500;
  padding: 0.5rem 0;
  display: flex;
}

input[type="checkbox"]:checked ~ span:before {
  border-color: $color-green;
}
input[type="checkbox"]:checked ~ span::after {
  background-color: transparent;
  border-style: solid;
  border-color: $color-green;
  transform: translateY(0.1rem) rotate(45deg);
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.link {
  color: $color-lightblue;
  text-decoration: underline;
}

.chevron-style {
  border: unset;
  background: unset;
  color: $color-darkblue;
  padding: inherit;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  &::after {
    content: ">";
    display: inline-block;
    padding-left: 0.5rem;
  }
}

.simple-style {
  border: unset;
  background: unset;
  color: $color-darkblue;
  padding: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
}

/* This class is a wrapper that applies a standard typography for pure html content in 
blog posts or anywhere where html is rendered */
.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.7rem 0;

    &[id] {
      // anchor top margin fix
      &::before {
        display: block;
        content: " ";
        margin-top: -$navbar-height;
        height: $navbar-height;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }

  p {
    margin-bottom: 1.2rem;
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  a {
    color: $color-darkblue;
    text-decoration: underline;
    &.chevron-after {
      text-decoration: none;
    }
  }

  ol,
  ul {
    margin: 2rem 0 2rem 0;
  }

  ol {
    &.romans {
      list-style-type: lower-roman;
    }
    &.alphabets {
      list-style-type: lower-alpha;
    }
    li {
      margin-top: 1.5rem;
      &::marker {
        font-weight: 600;
      }
    }
  }
  ul {
    li {
      margin-top: 1rem;
    }
  }

  // TODO: Might want to make these specific to blog, but keep here for now since posts might share the css...
  .alignright {
    display: block;
    margin: 2rem 0;

    @include desktop() {
      display: inline;
      float: right;
      margin: 0 0 1.5rem 1.5rem;
    }
  }

  .text-graphic {
    border: 0.1rem solid $color-gray;
    padding: 1rem;
    font-size: 1rem;
    span {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  & > * {
    img {
      max-width: 50vw;
      height: unset;
      @include touch() {
        max-width: 70vw;
        display: block;
        float: unset;
        width: 100%;
        height: unset;
        margin: 0 auto;
      }
      @include mobile() {
        margin: unset;
        max-width: unset;
      }
    }
  }
}

// generic styling for the heading custom field. Override if necessary
.heading {
  padding: 0;
  margin: 0.5rem 0 0.5rem 0;
  text-align: center;
}

table {
  border-spacing: 0;
  thead {
    th {
      font-size: 1rem;
      border-bottom: 0.1rem solid $color-gray;
      padding: 0.5rem 1rem;
      text-align: left;
    }
  }
  tbody {
    td {
      font-size: 1rem;
      border-bottom: 0.1rem solid $color-gray;
      padding: 0.5rem 1rem;
      text-align: left;
    }
  }
}

/*
  <<<<<<<<<<<<<<<<TYPOGRAPHY HELPER CLASSES>>>>>>>>>>>>>>>>>
*/
.is-size-05 {
  font-size: $size-05 !important;
}
.is-size-1 {
  font-size: $size-1 !important;
}
.is-size-2 {
  font-size: $size-2 !important;
}
.is-size-3 {
  font-size: $size-3 !important;
}
.is-size-4 {
  font-size: $size-4 !important;
}
.is-size-5 {
  font-size: $size-5 !important;
}
.is-size-6 {
  font-size: $size-6 !important;
}
.is-huge {
  font-size: 4rem !important;
  @include desktop() {
    font-size: 6.25rem !important;
  }
}

.w-100 {
  font-weight: 100 !important;
}
.w-200 {
  font-weight: 200 !important;
}
.w-300 {
  font-weight: 300 !important;
}
.w-400 {
  font-weight: 400 !important;
}
.w-500 {
  font-weight: 500 !important;
}
.w-600 {
  font-weight: 600 !important;
}
.w-700 {
  font-weight: 700 !important;
}

.text-decoration-unset {
  text-decoration: unset !important;
}

.line-height-1 {
  line-height: 1 !important;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.chevron-after {
  position: relative;
  color: $color-darkblue;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  &::after {
    content: ">";
    padding-left: 0.5rem;
  }
}

mark {
  background-color: transparentize($color: $color-mediumblue, $amount: 0.5);
}

.text-decoration-underline {
  text-decoration: underline;
}
