@import "../../styles/settings/__settings";

.feature-header {
  padding: toRem(5) 0 toRem(10) 0;
  font-weight: 600;
  color: $color-navy;
  font-size: $size-20px;
}

.feature {
  padding-bottom: toRem(20);
  &.addons {
    padding-bottom: 0;
  }
}

.feature2 {
  padding-bottom: toRem(20);
  &.addons {
    padding-bottom: 0;
  }
  height: auto;
  @include desktop() {
    height: toRem(450);
  }
}

.feature-list {
  list-style: none;
  margin: 0;
  li {
    display: flex;
    position: relative;
    list-style: none;
    margin: 0;
    padding: toRem(10) toRem(25) toRem(10) 0;
    line-height: 1.2em;
    text-align: left;
    svg {
      margin-right: toRem(10);
      flex: 0 0 10%;
    }
    span {
      line-height: 1.2rem;
    }
  }
}
.addons {
  @include desktop() {
    padding-top: toRem(10);
    border-top: toRem(1) solid $color-mediumgray;
  }
}
