@import "../../styles/settings/__settings";

/* Utility */
.relative {
  position: relative;
}

.block {
  display: block;
}
/* Titles */
.card-title {
  font-size: $size-36px !important;
  padding-bottom: 0;
  color: $color-navy;
}
.pricing {
  font-size: $size-32px;
  font-weight: 600;
  line-height: 1.5rem !important;
  color: $color-navy;
}

.pricingSmall {
  font-size: $size-16px;
  font-weight: 600;
  color: $color-navy;
}

/* padding & margin */
.pt-20px {
  padding-top: toRem(20) !important;
}
.pt-30px {
  padding-top: toRem(30) !important;
}
.pb-20px {
  padding-bottom: toRem(20) !important;
}
.pb-30px {
  padding-bottom: toRem(30) !important;
}
.pb-50px {
  padding-bottom: toRem(30) !important;
}
.mb-10px {
  margin-bottom: toRem(10) !important;
}
.mt-20px {
  margin-top: toRem(20) !important;
}

/* Component section */
.table-headline-gray {
  @include section-headline($color-mediumgray, $color-black);
}

.number {
  width: toRem(24);
  height: toRem(24);
  font-size: $size-18px;
  line-height: toRem(24);
  color: $color-black;
  font-weight: 600;
  border-radius: 50%;
  background-color: $color-paleblue;
  display: block;
}

.flag-orange {
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0.6em;
  transform: translate(-50%, -50%);
  background-color: $color-orange;
  color: $color-white;
  padding: toRem(5) toRem(9);
  white-space: nowrap;
  border-radius: toRem(8);
  font-weight: 600;
  z-index: 1;
  & + .headerblock {
    border-top: toRem(2) solid $color-orange;
    border-left: toRem(2) solid $color-orange;
    border-right: toRem(2) solid $color-orange;
    border-top-left-radius: toRem(12);
    border-top-right-radius: toRem(12);
  }
}
.small-text {
  font-size: toRem(13);
  font-weight: 400;
}
.b-divider {
  margin-top: 0.75rem;
  padding-bottom: toRem(25);
  border-bottom: toRem(1) solid $color-mediumgray;
}

.cta {
  font-weight: 600;
  border-radius: 0 0 toRem(8) toRem(8);
  padding: toRem(11) toRem(40);
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: $color-white;
  background-color: $color-orange;
}

.pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  ins {
    text-decoration: none;
    font-size: toRem(48);
  }
  del {
    font-size: toRem(18);
    text-decoration: none;
    position: relative;
    line-height: toRem(18);
    margin-left: toRem(10);
    font-weight: 400;
  }
  del:after {
    content: "";
    border-bottom: toRem(3) solid $color-orange;
    left: 0;
    margin-top: toRem(-1);
    position: absolute;
    right: 0;
    top: 35%;
    transform: rotate(10deg);
  }
}

.headerblock {
  width: 100%;
  height: toRem(88);
  background-color: $color-navy;
  border: $color-navy;
  color: $color-white;
  padding: toRem(10);
  border-radius: toRem(12) toRem(12) 0 0;
  font-weight: 600;
  .ad {
    display: none;
  }
}

.promotion {
  .headerblock {
    background-color: $color-mediumblue;
    border: $color-mediumblue;
    .ad {
      display: block;
      font-size: toRem(18);
      margin-top: toRem(16);
    }
    .ad-small {
      font-size: toRem(13);
      margin-top: toRem(8);
      display: block;
      font-weight: 400;
    }
  }
  .del {
    display: block;
  }
  .inner {
    border-top: 0;
  }
}
.del {
  display: none;
}
.no-top-border {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.comp-table-wrap {
  visibility: hidden;
  position: absolute;
  left: -999999px;
  height: toRem(1);
  width: toRem(1);
  transform: scale(0);
  &.show-table {
    visibility: visible;
    position: relative;
    left: 0;
    height: auto;
    width: auto;
    transform: unset;
  }
}

.plus {
  font-size: toRem(14);
  @include desktop() {
    font-size: toRem(22);
  }
  &:before {
    display: inline-block;
    content: "+";
    line-height: 1;
    padding: toRem(5);
    font-size: toRem(18);
    font-weight: 600;
    color: inherit;
    transform: rotate(0deg);
    transition: transform 0.1s linear;
    @include desktop() {
      padding: toRem(8);
      font-size: toRem(30);
    }
  }
  &.rotated:before {
    transform: rotate(45deg);
    transition: transform 0.1s linear;
  }
}
